<div class="inner inner-reserva">
	<label for=""> Reserva Cliente </label>
	<div class="body-inner">
		<div class="form-input">
			<input type="text" id="idNombre" value="" /> 
			<input type="hidden" id="idUsuario" value="" /> 
			<a class='btn btn-full input-icon'>+<i class="icon icn-user"></i></a>
		</div>
		<div class="form-input line">
			<input type="hidden" id="inputFecha" value="#fecha#" /> 
			<span>#fecha#</span>
			<select name="" id="inputHora">
				<option value="">8:10 - 8:30</option>
				<option value="">8:35 - 9:00</option>
				<option value="">9:10 - 9:30</option>
				<option value="">9:35 - 10:00</option>
				<option value="">10:10 - 10:30</option>
				<option value="">10:35 - 11:00</option>
				<option value="">11:10 - 11:30</option>
				<option value="">11:35 - 12:00</option>
				<option value="">14:10 - 14:30</option>
				<option value="">14:35 - 15:00</option>
				<option value="">15:10 - 15:30</option>
				<option value="">15:35 - 16:00</option>
				<option value="">16:10 - 16:30</option>
				<option value="">16:35 - 17:00</option>
				<option value="">17:10 - 17:30</option>
				<option value="">17:35 - 18:00</option>
			</select>
		</div>
		<div class="form-input line box-obs">
			<span>Observaciones</span>
			<textarea name="" id="inputObservaciones" cols="30" rows="10"></textarea>
		</div>
		<div class="form-input line box-acciones">
			<a class="btn btn-link btnCancelarReserva">Cancelar</a>
			<a class="btn btn-primary btnAceptarReserva">Aceptar</a>
		</div>
	</div>
</div>