@bg : #f2f3f7;
@negro : #1F1F21;
@negro-a: #2B2B2B;
@negro-b: #4A4A4A;
@blanco: #ffffff;
@blanco-e: #f7f7f7;
@blanco-a: #D7D7D7;
@blanco-b: #D6CEC3;
@blanco-c: #E4DDCA;
@blanco-1:#E9EBEE;
@blanco-2:#eaeaea;
@rojo:#FF3B30;
@rojo-a:#FF2D55;
@rojo-b:#FF4981;
@rojo-c:#FF1300;
@rojo-d:#FF3A2D;
@naranja:#FF9500; 
@naranja-a:#FF5E3A;
@amarillo:#FFCC00;
@amarillo-a:#FFDB4C;
@amarillo-b:#FFCD02;
@violeta:#5856D6;
@violeta-a:#5856D6;
@violeta-b:#C644FC;
@magenta:#EF4DB6;
@magenta-a:#C643FC;
@magenta-b:#C86EDF;
@magenta-c:#E4B7F0;
@azul:#007AFF; 
@azul-a:#1D62F0; 
@azul-b:#34AADC; 
@azul-c:#5BCAFF; 
@celeste:#1AD6FD;
@celeste-a:#81F3FD;
@celeste-b:#D1EEFC;
@celeste-c:#55EFCB;
@verde:#0BD318;
@verde-a:#4CD964;
@verde-b:#87FC70;
@verde-c:#5AD427;
@verde-d:#A4E786;
@verde-e:#E0F8D8;
@verde-f: #046f04; 
@gris:#8E8E93;
@gris-a:#C7C7CC; 
@gris-b:#BDBEC2;
@gris-c:#D7D7D7;
@gris-3:#c2d3de;
@gris-4:#cbe0ec;
@gris-5:#3c4043; 
@gris-6:#d6d7da; 


@color-white: #FFFFFF;
@color-white-a: #FEFEFE;
@color-white-b: #FAFAFA;
@color-white-c: #F9F9F9;
@color-white-d: #F6F7F9;
@blanco-3:#EDEFF3;
@blanco-4:#dae4ef;
@color-gray: #E6E7E9;
@color-gray-a: #D7D9DE;
@color-gray-b: #B4BBC5;
@color-gray-c: #879099;
@color-gray-d: #5d6569;
@color-gray-e: #3F444B;
@gray-1: #dedce6;  
@gray-2: #7489a0;
@gray-3: #b7b7b7; 

@gray-4: #e1eaf1;
@gray-5: #cbe0ec; 

@color-black: #191B1C;
@color-red: #EB5C43;
@rojo-2:#ec5e54;
@color-red-a: #E83759;
@color-lilac: #E71882;
@color-lilac-a: #F4A9CB;
@color-violet: #8B3B8F;
@color-violet-a: #DDABCE;
@color-violet-b: #806AAD;
@color-violet-c: #C2B4D9;
@color-blue: #386DB4;
@color-blue-a: #9DBAE2;
@color-blue-b: #2D9EE0;
@color-blue-c: #0076FF;
@color-light-blue: #33AADD;
@color-light-blue-a: #94D4F0;
@color-light-blue-b: #00BDC6;
@color-light-blue-b: #A4D9DD;
@color-green: #24AA5B;
@color-green-a: #CBE6B2;
@color-green-b: #99C14C;
@color-green-c: #DCDC07;
@color-green-d: #FBF29D;
@color-green-e: #0D803C;
@color-yellow: #FFCF08;
@color-yellow-a: #FFEBAB;
@color-yellow-b: #FFDC51;
@color-orange: #FCBE14;
@color-orange-a: #F39333;
@color-orange-b: #FAC078;
@color-brown: #C2975C;
@color-brown-a: #E0CBAE;
@color-brown-b: #8A7354;
@color-navbar: #495570;
@color-block-sistemas:#616a81;
@color-texto:#262626;


@color-hover:@color-blue-b;
@color-menu:@color-texto;
@color-text:@color-gray-e;
@colorLinea : @color-gray;

.color-white{ color: #FFFFFF; }
.color-white-a{ color: #FEFEFE; }
.color-white-b{ color: #FAFAFA; }
.color-white-c{ color: #F9F9F9; }
.color-white-d{ color: #F6F7F9; }
.color-gray{ color: #E6E7E9; }
.color-gray-a{ color: #D7D9DE; }
.color-gray-b{ color: #B4BBC5; }
.color-gray-c{ color: #879099; }
.color-gray-d{ color: #5d6569; }
.color-gray-e{ color: #3F444B; }
.color-black{ color: #191B1C; }
.color-red{ color: #EB5C43; }
.color-red-a{ color: #E83759; }
.color-lilac{ color: #E71882; }
.color-lilac-a{ color: #F4A9CB; }
.color-violet{ color: #8B3B8F; }
.color-violet-a{ color: #DDABCE; }
.color-violet-b{ color: #806AAD; }
.color-violet-c{ color: #C2B4D9; }
.color-blue{ color: #386DB4; }
.color-blue-a{ color: #9DBAE2; }
.color-blue-b{ color: #2D9EE0; }
.color-blue-c{ color: #0076FF; }
.color-light-blue{ color: #33AADD; }
.color-light-blue-a{ color: #94D4F0; }
.color-light-blue-b{ color: #00BDC6; }
.color-light-blue-b{ color: #A4D9DD; }
.color-green{ color: #24AA5B; }
.color-green-a{ color: #CBE6B2; }
.color-green-b{ color: #99C14C; }
.color-green-c{ color: #DCDC07; }
.color-green-d{ color: #FBF29D; }
.color-green-e{ color: #0D803C; }
.color-yellow{ color: #FFCF08; }
.color-yellow-a{ color: #FFEBAB; }
.color-yellow-b{ color: #FFDC51; }
.color-orange{ color: #FCBE14; }
.color-orange-a{ color: #F39333; }
.color-orange-b{ color: #FAC078; }
.color-brown{ color: #C2975C; }
.color-brown-a{ color: #E0CBAE; }
.color-brown-b{ color: #8A7354; }
.color-navbar{ color:#495570; }


@verde-alerta: #5dbb7a;
@naranja-alerta: #f89406;
@rojo-alerta: #ee5f5b;
@celeste-alerta: #5bc0de;
@azul-alerta:#0076FF;
@gris-alerta: #d8dadc;

