// out: estilos.cont.css, sourcemap: false, compress: true
// Variables
@import "variables.less";

.box-publicaciones {
    float: left;
    height: 93vh;
    display: inline-block;
    position: fixed;
    top: 48px;
    left: -2px;
    width: 208px !important;
    z-index: 1;
    background-color: @color-white-a;
}

.box-publicaciones label {
    width: 100%;
    padding: 10px 5px;
    display: inline-block;
    font-size: 14px;
    border: 1px solid @box-border-color;
    border-top: 0;
    border-bottom: 0;
}

.box-publicaciones label span {
    font-size: 12px;
    text-transform: uppercase;
}

.box-publicaciones .tipo-pub {
    border-right: 1px solid @box-border-color;
    height: 99%;
}

.box-publicaciones .tipo-pub .category {
    padding: 10px 10px 8px;
}

.box-publicaciones .tipo-pub .category a {
    font-size: 14px;
    text-decoration: none;
    color: @color-text;
}

.group-tabs {
    height: 45px !important;
}

.tab,
.tab .group {
    float: left;
    width: 100% !important;
}

.tab .group .category {
    padding: 10px 7px !important;
}

.tab-content {
    padding: 5px 5px 5px !important;
    margin-top: 0;
    display: inline-block;
    width: 100%;
    height: 97%;
    border-top: 0;
    font-weight: normal !important;
    // overflow-y: auto;

    .pull-all {
        overflow-y: auto;
        height: 71vh;
        display: inline-block;
    }
}

.tab-content .cnt-publicacion {
    display: inline-block;
    float: left;
    height: 100px;
    width: 44.5%;
    border: 1px solid @color-gray-a;
    background-color: @color-white-c;
    margin: 5px;
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    border-radius: @box-border-radius;
    display: inline-block;
}

.tab-content .cnt-publicacion img {}

.tab-content .cnt-publicacion span {
    float: left;
    width: 96%;
    text-align: center;
    clear: both;
    font-size: 11px;
    margin-top: 3px;
    line-height: 10px;
    word-wrap: break-word;
}

.tab-content .cnt-publicacion .box-accion,
.tab-content .cnt-publicacion .icn-move {
    display: none;
}

.box-accion i:hover {
    cursor: pointer;
    color: @color-hover;
}

.tab-content .box-buscador {
    margin-bottom: 6px;
    display: inline-block;
    z-index: 0;
    position: relative;
    width: 100%;
}

.tab-content .box-buscador input {
    padding-left: 22px;
    font-size: 13px;
    z-index: 0;
    width: 80%;
}

.tab-content .box-buscador .icn-search {
    z-index: 1;
    position: absolute;
    top: 5px;
    left: 5px;
}

.tab-content .box-buscador .btn-pubs {
    border: 1px solid @box-border-color;
    float: right;
    width: 32px;
    height: 30px;

    i {
        margin-left: -3px;
    }
}

.tab-content {

    ul {
        z-index: 0;
        width: 100%;

        overflow-y: auto;
        height: 71vh;
        display: inline-block;

    }
}

.box-nueva-pub {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 205px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid @box-border-color;
    background: white;
}

.tab-content .box-buscador .btn-new-pub {
    border: 1px solid @box-border-color;
    float: right;
}

.tab-content .box-buscador .btn-new-pub i {
    margin-right: -3px;
}

.cnt-box {
    list-style: none;
    border-radius: 2px;
    width: 43%;
    display: inline-block;
    margin: 3%;
    padding: 3%;
    float: left;
    font-size: 12px;
    position: relative;
    background: #fff;
}

.box-estructura {
    float: right;
    // height: 92.5vh;
    display: block;
    position: fixed;
    top: 50px;
    right: 0px;
    // width: 83.3% !important;
    padding: 0;
    z-index: 0;
    overflow-y: auto;
}

.cnt-box-head {
    padding: 10px;
}

.cnt-box-head label {
    font-family: "Lato-Light", sans-serif !important;
    font-size: 13px;
}

.box-plantilla {
    width: 190px;
    font-size: 12px;
    display: inline-block;
    margin: 0;
}

.box-plantilla label {
    width: 26%;
    float: left;
    margin-right: 5px;
    margin-top: 7px;
}

.box-plantilla select {
    width: 100%;
    padding: 3px !important;
    font-size: 13px;
    height: 30px;
}

.btn-guardar {
    margin-right: 60px;
    margin-top: 7px;
}

.box-diagrama {
    width: 95%;
    background: #fff;
    border-radius: 2px;
    height: 90vh;
    margin-left: 5px;
    border: thin solid #efefef;
}

ul,
ul li {
    list-style: none;
}

.connected {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px dotted #ddd;
    background-color: #f7f7f7;
    display: inline-block;
    border-radius: 3px;
    width: 100%;
}

.box-header {
    // width: 83.2%;
    width: 100%;
    border-bottom: 1px solid #E6E7E9;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0;
}

.box-publicaciones .group-tabs .tab .group {
    height: 44px;
}

.box-header div {
    padding-bottom: 0;
}

#contenedor-principal {
    width: 99.5%;
    padding: 25px 35px 25px 25px;
    height: 92.3%;
    margin-top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

#contenedor-principal ul {
    width: 100%;
    height: auto;
    position: relative;
    min-height: 80px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.27);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    border-radius: @box-border-radius;
}

#contenedor-principal .cnt-publicacion,
#contenedor-principal .ui-state {
    width: 99.7%;
    border: 1px solid rgb(236, 236, 236);
    display: block;
    padding: 10px 7px;
    margin: 10px 0;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}

#contenedor-principal .box-accion {
    display: inline-block;
}

#contenedor-principal .cnt-publicacion img {
    display: none;
}

#contenedor-principal .cnt-publicacion .icn-move,
#contenedor-principal .ui-state .icn-move {
    margin-right: 7px;
}

#contenedor-principal .cnt-publicacion i,
#contenedor-principal .ui-state i {
    display: inline-block;
    margin-right: 7px;
}

#contenedor-principal h3 {
    margin-bottom: 5px;
}

#contenedor-principal #cont-1 {
    border: 1px solid #d6dee2;
    background-color: #fbfbfb;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.btn-lista-pubs {
    position: absolute;
    z-index: 2;
    right: 22px;
    top: 6px;
    font-size: 12px;
    padding-bottom: 1px;
    border: 1px solid @box-border-color;
    border-radius: 20px;
}

.lista-pubs {
    display: none;
    /* margin: 5px 0; */
    margin-right: 15px;
    float: right;
    width: 67.1%;
    max-height: 200px;
    clear: both;
    position: relative;
    border-radius: 3px;
    margin-bottom: 10px;
    overflow-y: auto;
    border: 1px solid @box-border-color;

    &.on {
        display: block;
    }

    .lista-pubs-tipo {
        display: block;

        &.off {
            display: none;
        }
    }

    ul {

        li {
            width: 100%;
            display: block;
            padding: 7px 10px;
            border-bottom: 1px solid @box-border-color;
            text-align: left;

            &:hover {
                cursor: pointer;
                background-color: @box-border-color;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}