// out: estilos.adm.css, sourcemap: false, compress: true
// Variables
@import "variables.less";

/* ----------  Escenciales ----------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box-md-1,
.col-md-1 {
    width: 8% !important;
}

.box-md-2,
.col-md-2 {
    width: 16% !important;
}

.box-md-3,
.col-md-3 {
    width: 24% !important;
}

.box-md-4,
.col-md-4 {
    width: 33% !important;
}

.box-md-5,
.col-md-5 {
    width: 41% !important;
}

.box-md-6,
.col-md-6 {
    width: 49% !important;
}

.box-md-7,
.col-md-7 {
    width: 58% !important;
}

.box-md-8,
.col-md-8 {
    width: 66% !important;
}

.box-md-9,
.col-md-9 {
    width: 74% !important;
}

.box-md-10,
.col-md-10 {
    width: 83% !important;
}

.box-md-11,
.col-md-11 {
    width: 91% !important;
}

.box-md-12,
.col-md-12 {
    width: 100% !important;
}

.box-md-1,
.box-md-10,
.box-md-11,
.box-md-12,
.box-md-2,
.box-md-3,
.box-md-4,
.box-md-5,
.box-md-6,
.box-md-7,
.box-md-8,
.box-md-9 {
    float: left !important;
    padding-bottom: 7px;
}

.box-md {
    padding-left: 15px;
    padding-right: 15px;
}

.box-md-right {
    padding-right: 15px;
}

.box-md-left {
    padding-left: 15px;
}

h1 {
    margin: 0;
}

.btn {
    display: inline-block;
    padding: 6px 8px;
    margin-bottom: 0;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}

.btn i,
.btn span {
    //margin-top: -2px;
    display: inline-block;
}

.btn i {
    //margin-left: -3px;
    //margin-right: 5px;
}

.btn-lg {
    padding: 10px 16px;
}

.btn-small {
    padding: 5px 10px;
}

body::-webkit-scrollbar {
    width: 6px !important;
}

body::-webkit-scrollbar-corner {
    background-color: transparent;
}

.container-fluid {
    width: 100%;
    display: inline-block;
}

.container {
    width: 1100px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:1100px) {
    .container {
        width: 100%;
    }
}

.img-responsive {
    width: 100%;
}

.img-list {
    width: 32px;
    height: 32px;
    border-radius: 40px;
    border: 1px solid @box-border-color;
    float: left;
}

.block-image {
    width: 97%;
    margin-top: 15px;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.block-embed {
    margin-left: 15px;
    margin-bottom: 20px;
}

.block-image .img-file,
.box-image .img-file {
    max-width: 450px;
    display: inline-block;
}

.box-image {
    width: 97%; //margin-top: 15px;
    display: inline-block; // margin-bottom: 15px;
    // margin-left: 15px;
    // margin-right: 15px;
    text-align: left;
}

.box-image-block {
    width: 100px !important;
    height: 100px;
    float: left; // margin: 10px !important;
    position: relative;
}

.box-image-block .img-file {
    width: 100%;
    height: 100%;
    /* float: left; */
    z-index: 0;
    position: absolute;
    top: 0;
}

.display-none {
    display: none !important;
}









/*   forms   */

.form {}

.form-list {
    z-index: 2 !important;

    .form-control {
        width: 61.5% !important;
        margin-right: 5px !important;
        float: left !important;
    }

    .btn {
        padding: 4px 5px 5px;
        float: left;
    }
}

.form-row {
    margin-top: 7px !important;
    float: left !important;
    clear: right !important;
}

.label-form-row {
    clear: left !important;
}

.form-group {
    display: block;
    margin: 5px 0;
    float: left;
    width: 100%;
    clear: both;
    position: relative;
    z-index: 0;

    .form-list {
        width: 78% !important;
        float: left;
    }
}

.form-separador {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0 30px;

    label {
        padding: 0 20px;
        margin: 0 !important;
        text-align: center !important;
    }

    .linea {
        height: 1px;
        border-bottom: 1px dotted @colorLinea;
        width: 100%;
    }
}

.separador {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 28px;
    height: 1px;
    border-bottom: 1px dotted @colorLinea;
}

.group-new {
    margin-top: 30px;

    .header {
        label {
            width: 40% !important;
            text-align: left !important;
        }

        .btn {
            float: right;
        }
    }

    .list-elem {
        width: 91.7%;
        margin-top: 15px;
        position: relative;
        clear: both;
        float: left; // border: 1px solid;
        text-align: left;
        margin-left: 25px;
    }
}

.form-group-color {
    z-index: 1;
}

.form-group-on-off {
    padding-top: 10px;
    padding-bottom: 20px;
}

.form-group-on-off {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.form-group-on-off label {
    float: left;
}

.form-group-on-off span {
    float: left;
    clear: left;
}

.form-group-on-off .btn-on-off {
    float: right;
}

.form-group-on-off .btn-on-off i {
    position: absolute;
    top: 0;
    right: 20px;
}

.form-group .checkbox {
    width: 100%;
    clear: both;
    float: left;
    margin-top: 10px;
}

.form-group .checkbox input {
    float: left;
    margin-right: 5px;
}

.form-group .mensaje-pw {
    float: right;
    width: 67.7%;
    text-align: left;
    margin-top: 5px;
}

.form-group .checkbox label,
.form-group .group .checkbox label {
    width: auto !important;
    margin: 0 !important;
    float: left !important;
}

.form-vertical {}

.form-vertical .form-group label {
    margin-bottom: 7px;
    display: inline-block;
}

.form-botones .group {
    margin-right: 0;
    margin-top: 10px;
    text-align: right;
}

.form-botones button {}

.form-select {
    width: 30% !important;
    float: left !important;
}

.form-fecha-nacimiento {
    >label {}

    .group {
        width: 100%;
        padding-left: 0px;
        display: flex;
        margin: 0px;

        .form-dia-nacimiento {
            margin-right:10px;
            margin-bottom: 0px;
        }

        .form-mes-nacimiento {
            margin-right:10px;
            margin-bottom: 0px;
        }

        .form-ano-nacimiento {
            margin-bottom: 0px;
        }
    }
}

.control-group {
    width: 100%;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.group {
    display: inline-block;
    width: 67.55%;
    float: right;
    margin-right: 15px;
    margin-bottom: 10px;
}

.group label {
    text-align: left !important;
}

.group .checkbox {
    width: 44%;
    display: inline-block;
}

.form-fluid .checkbox {
    width: 100% !important;
}

.group .checkbox label {
    width: 100% !important;
    margin-right: 5px;
    text-align: left !important;
}

.group .checkbox input {
    margin-right: 5px;
    margin-top: 3px;
    display: inline-block;
}

.form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
    padding: 5px 10px;
    min-height: 24px;
}

.form-control-free {}

.form-control-precio {
    width: 100px !important;
    float: left !important;
    margin-left: 15px !important;
    margin-right: 3px !important;
}

.form-title {
    width: 100%;
    padding: 20px;
    display: block;
}

.btn-docs {
    display: none;
}

.input-icon-addon .form-control {
    padding-left: 35px !important;
    position: relative;
    z-index: 1;
}

.input-icon-addon .input-group-addon {
    position: absolute;
    z-index: @z-index-navbar + 1;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 8px;
    margin-top: -10px;
}

.form-group .input-link {
    /*position: absolute; */
    z-index: 11;
    /* top: 7px; */
    /* right: 27px; */
    margin: 7px 0;
    display: inline-block;
    float: left;
}

.form-group-precio {
    select {
        float: left !important;
        width: 60px !important;
        margin-left: 0 !important;
    }
}

.form-group .help-block {
    width: 70%;
    display: block;
    float: right;
    margin-top: 5px;
}

.form-group .input-file {
    width: 133px;
    display: inline-block;
    position: absolute;
    left: 30%;
    height: 36px;
    z-index: 0;
}

.form-group .btn-subir-file {
    float: left;
    z-index: 1;
    pointer-events: none;
    position: absolute;
    cursor: pointer;
    margin-top: 1px;
    width: 131px;
    left: 30%;
    margin-left: 1px;
}

.progress {
    width: 100%;
    padding: 5px;
    margin-top: 3px;
}

.progress label {
    float: right !important;
    margin: 0 !important;
    padding: 0;
    width: 40px !important;
}

.progress .progress-bar {
    width: 84%;
    height: 10px;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 4px;
}

.progress .progress-bar span {
    float: left;
    height: 100%;
    width: 50%;
}

.form-group .progress {
    width: 45%;
    float: right;
    margin-right: 15px;
}

.btn-link-ra {
    position: relative;
    z-index: 4;
    top: -34px;
    display: inline-block;
    float: right;
    right: 25px;
    height: 5px;
}

.btn-link-ra.input-lg {
    top: -40px;
    padding: 0;
}

.block-link-ra {
    width: 500px;
    position: absolute;
    z-index: 5;
    right: -5px;
    top: 29px;
    padding: 12px 15px;
    text-align: left;
    display: none;
}

.block-link-ra .block-text {
    width: 88%;
    display: inline-block;
    margin-top: 4px;
    font-size: 16px;
    color: @color-gray-c;
    text-align: left;
}

.block-link-ra .block-text input {
    //max-width: 60%;
    float: left;
    width: 95%;
}

.block-link-ra .block-text .ruta_fin {
    margin-left: 1px;
    float: left;
}

.block-link-ra .block-text .ruta_ini {
    float: left;
}

.block-link-ra::before {
    position: absolute;
    top: -24px;
    right: 0;
    z-index: 2;
}

.block-link-ra .btn-copy {
    float: right;
}

.col-form {
    position: relative;
    z-index: 0;
}

.col-nombre .nombre-user {
    margin-left: 10px;
    margin-top: 8px;
    display: inline-block;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.col-nombre .label {
    width: 85%;
}


/*  Menu    */

.collapse {
    display: none;
}

.collapse.on {
    display: block;
}

.collapse-in {
    display: block;
}

.collapse-in.on {
    display: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    min-width: 200px;
    top: @heigth_navbar - 7;
    left: 0; //max-height: 90vh;
    // overflow-y: auto;
    overflow-x: hidden;
}

.dropdown .dropdown-menu.on {
    display: block;
}

.dropdown .dropdown-menu .dropdown {
    width: 100%;
    position: relative;
    display: block;
    float: left;
}

.dropdown .dropdown-menu .dropdown a {
    width: 100%;
}

.dropdown .dropdown-menu .dropdown i {
    float: left;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}






















/* Table    */

.table-responsive {
    width: 100%;
}

.table .foto-perfil {
    width: 40px;
    height: 40px;
    float: left;
    background-size: contain !important;
    border: 1px solid #eee;
    border-radius: 35px;
    margin-right: 7px;
}

.table .nombre-perfil {
    margin-top: 10px;
    display: inline-block;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.table tr td,
.table tr th {
    padding: 10px;
}

.table .icn-reorder-row {
    margin-top: 2px;
}

.table #row-sorteable>.ui-sortable-helper {
    min-width: 1024px !important;
    display: table !important;
    height: 40px !important;
}

.table #row-sorteable>.ui-sortable-helper .no-visible-drag span {
    display: none;
}

.table .btn i {
    margin-right: 0;
}

.acciones {
    min-width: 100px;
    max-width: 200px;
}

.table .hora::after {
    content: ":";
}

.table .list-sorteable {
    max-width: 240px;
    width: 100%; // border: 1px solid red;
    display: inline-block;
}

.list-sorteable li {
    margin: 0;
    display: inline-block;
    list-style: none; // margin-bottom: 5px;
    width: 100%;
}

.list-sorteable li i {
    font-size: 10px;
    color: @color-gray-b;
    padding: 2px 5px;
    width: 20px;
}

.list-sorteable li span {
    width: 80%;
}

.table .programado {
    margin-bottom: 5px;
    display: block;
}

.table .programado i {
    margin-left: -1px;
    width: 18px;
}

.table .block-date {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    float: left;
}

.table .block-date span {
    display: inline-block;
    margin-right: 3px;
    width: auto;
}

.table .hora {
    margin-right: 0 !important;
}

.table .ano {
    margin-right: 6px !important;
}

.table .seg {
    display: none !important;
}

.table .img-previo {
    width: 80px;
}

.table .img-previo img {
    border-radius: 3px;
}

.table .col-id {
    width: 30px !important;
    text-align: center;
}

.table .col-img-nom {
    display: flex;
    align-items: center;
    min-height: 40px;
}

.table .col-name i,
.table td i {
    float: left;
    width: 30px;
}

.table .col-name span,
.table td span {
    float: left; // width: 80%;
    display: inline-block;
}

.table tr td .img {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.table tr td .text {
    float: left;
    margin-top: 5px;
}

.table .col-name .text-ref {
    float: left;
    clear: both;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

.table .col-acciones {
    width: 140px !important;
}

//listas
.list-items {
    position: relative;
    display: -webkit-flex;
    display: flex !important;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 20px !important;

    .item {
        width: 22.5%;
        height: 130px;
        margin: 10px;
        padding: 20px;
        position: relative;

        .botones {
            position: absolute;
            right: 5px;
            bottom: 10px;
        }
    }

    .item-nuevo {
        span {
            margin-top: 20px;
            display: inline-block;

            .icn {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .table tr td,
    .table tr th {
        padding: 5px 8px;
    }

    .table .col-name i {
        display: none;
    }

    .no-mobile {
        display: none;
    }

    .btn {
        padding: 6px;
    }

    .btn i {
        margin-left: 0;
        margin-right: 0;
    }
}


@media (max-width: 768px) {
    .container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}

input[type="color"] {
    padding: 1px 3px;
    min-height: 28px;
}

select {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 33px;
}






















/* content-page */

.content-page {
    //min-height: 99.5vh;
    width: 100%;
    padding-top: @heigth_navbar; //border:1px solid red;
    position: relative;
    display: block;
    height: 99.95vh;
    overflow-y: auto;
}

.preloader-page {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    overflow: hidden;
    z-index: @z-index-navbar - 2;
}

.preloader-modulo {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    overflow: hidden;
    z-index: @z-index-navbar - 2;
}

.content-page .head-modulo {
    width: 100%;
    display: block;
    float: left;
    margin: 0 0 15px;
    border-bottom: 1px solid @box-border-color;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 55px;
}

.content-page .head-modulo-inner .title {
    float: left;
}

.content-page .head-modulo-inner .buttons {
    float: right;
}

.content-page .head-botones {
    margin-top: 0;
    margin-right: 7px; //border:1px solid red;
    // padding-right: 3px;
}

.content-page .head-modulo .title {
    margin-top: 5px;
}

.content-page .head-modulo .btn-sync {
    position: absolute;
}

.body-modulo {
    width: 100%; //margin: 0px 20px 15px 20px;
    //margin-bottom: 20px;
    padding-bottom: 20px;
    display: inline-block;
}

.head-modulo-inner {
    width: 100%;
    display: block;
    float: left;
    margin: 0;
    padding: 10px 12px;
}

.body-modulo-inner {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    float: left;
}

.modulo-inner {
    display: inline-block;
    width: 100%;
    padding: 15px;
}

.footer-modulo-inner {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.footer-modulo {
    min-height: 10px;
    width: 100%;
    float: left;
}

.block-color {
    width: 28px;
    height: 28px;
    display: inline-block;
    position: relative;
    float: left;
}

.block-color .colors {
    display: none;
    width: 130px;
    height: 0;
    top: 14px;
    left: 12px;
    position: absolute;
}

.block-color .colors.on {
    display: block;
    position: absolute;
    z-index: @z-index-navbar + 3;
    height: 250px;
    top: -125px;
}

.block-color .colors .color {
    padding: 4px;
    cursor: pointer;
    width: 90%;
}

.btn-color {
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-left: -5px;
}

.block-color .colors .theader {
    display: block;
    width: 100%;
    float: left;
    padding: 4px;
    position: relative;
    z-index: 2;
}

.block-color .colors .tbody {
    position: absolute;
    width: 99%;
    height: 220px;
    margin-top: 25px;
    overflow-y: auto;
    display: block;
    padding: 10px 0 10px 10px;
    z-index: 1;
}

#input-color {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 93%;
    float: left;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 2px 5px;
}

.block-color .colors .theader label {
    margin: 0 0 0 3px;
}

.btn-close-color {
    float: right;
    margin-top: 2px;
}

.form-modulo #aux_editar {
    display: inline-block;
    width: 100%;
}

.form-espacio {
    width: 100%;
    display: block;
    margin-bottom: 12px;
    margin-top: 12px;
    float: left;
}

.form-date {}

.form-date .icn {
    position: absolute;
    font-size: 18px;
    top: 3px;
    margin-left: 5px;
    z-index: 2;
}

.form-date .form-datetime {
    float: left !important;
    width: 200px !important;
    padding-left: 35px !important;
    z-index: 1;
}

.form-date .group {
    margin-bottom: 0;

    .form-control-date {
        margin-left: 2px !important;
    }
}

.form-date.form-vertical {}

.form-date.form-vertical label {
    width: auto !important;
}

.form-date.form-vertical .group {
    width: 75% !important;
}

.form-date-agregar {
    float: left;
    width: 100%;
    margin-bottom: 5px;

    .box-date-agregar {
        float: left;
        text-align: left;
        margin-left: 11px;
        width: 150px;

        .group-date {
            position: relative;
            display: inline-block;

            .btn-eliminar-date {
                font-size: 18px;
                color: @rojo-2;
                position: absolute;
                right: -27px;
                top: 2px;
            }
        }

        .form-control-date {
            width: 100% !important;
            margin-right: 0 !important;
            margin-left: 0 !important;
            padding-left: 10px;
            margin-bottom: 8px;
        }
    }

    .btn-date-agregar-fecha {
        float: left;
        margin-left: 7px;
        padding: 4px 5px;
    }
}

.group-panel {
    border-radius: @box-border-radius;
    border: 1px solid @box-border-color;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: @color-white
}

.group-panel.on {
    display: none;
}

.group-panel .table th {
    border-bottom: 1px solid @box-border-color;
    padding-top: 20px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.hr {
    width: 100%;
}

.box-agregar-usu {
    display: inline-block;
    position: relative;
    float: right;
    z-index: 2;
    width: 32px;
    height: 32px;
}

.box-agregar-usu .btn {
    padding: 2px 3px;
}

.box-agregar-usu .icn {
    font-size: 21px;
}

@media screen and (max-width: 470px) {
    .content-page .head-modulo {
        padding-left: 0;
        padding-right: 0;
    }

    .content-page .body-modulo {
        margin: 0 0 15px;
        width: 100%;
    }

    .content-page .body-page {
        // padding-left: 10px;
        // padding-right: 10px;
    }

    .btn-new span {
        display: none;
    }
}






















/* vista */

.form-vista {
    //border:1px solid red;
    float: left;
    margin-top: -4px;
    margin-left: -10px;
    height: 32px;
}

.form-vista .btn i {
    font-size: 22px;
}

.form-vista .btn-v-activar span {
    font-size: 13px;
    padding: 5px 10px;
    position: relative;
    top: 15px;
    /* display: inline-block; */
    position: absolute;
    display: none;
}






















/*   arbol cat  */

.group .arbol-cat {
    display: inline-block;
    overflow-x: hidden;
    width: 100%;
    overflow-y: hidden;
}

.group .arbol-cat label {
    text-align: left !important;
    width: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 5px !important;
}

.group .arbol-cat label input {
    float: left;
    width: 20px;
    margin-top: 3px;
}

.group .arbol-cat label span {
    display: inline-block;
    float: left;
    width: 80%;
}

.arbol-sis-mod {
    height: auto !important;
}

.arbol-sis-mod .box-ms {
    clear: both;
    float: left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 7px;
}

.arbol-sis-mod .label-sis {
    width: 100% !important;
    display: block !important;
    margin-bottom: 7px;
    margin-top: 7px;
    border-bottom: 1px dotted @color-gray-b;
    padding-bottom: 5px;
}

.arbol-sis-mod .box-ms label {
    margin-top: 0 !important;
    width: 45% !important;
}

.arbol-sis-mod .permisos {
    width: 45%;
    float: right;
}

.arbol-sis-mod .permisos i {
    margin-left: 4px;
    margin-right: 4px;
}






















/*   tabs   */

.block-tabs.head-modulo-inner {
    padding: 0;
    line-height: initial;
    font-size: 0;
}

.group-tabs {
    width: 100%;
    height: 100% !important;
    font-size: 0;
    float: left;

    .tab {
        float: left;
        width: 100%;
        height: 100%;
    }
}

.group-tabs .tab .title {
    width: 10%;
    padding: 16px;
    font-weight: bold;
    display: inline-block;
    float: left;
}

.group-tabs .tab .group {
    width: 90%;
    height: 100%;
    margin: 0;
    float: left;
    /* position: absolute; */
}

.group-tabs .tabs-header,
.group-tabs .tabs-header .group-fluid {
    width: 100% !important;
    display: inline-block;
}

.group-tabs .tabs-header .title {
    width: 10%;
    padding: 16px;
    font-weight: bold;
    display: inline-block;
}

.group-tabs .tabs-header .group {
    width: 90%; // height: 52px;
    margin: 0;
    /* position: absolute; */
}

.group-tabs .tab .group .category {
    font-size: 18px;
    padding: 12px 15px;
    display: inline-block;
    height: 100%;
}

.group-tabs .tab .group-fluid {
    width: 100% !important;
    display: inline-block;
}

.group-tabs .tab .btn {
    margin: 5px;
}

.group-tabs .tabs-header .group .category {
    font-size: 18px;
    padding: 12px 15px;
    display: inline-block;
    height: 100%;

    i {
        margin-right: 5px;
    }
}

.tabs-body {
    display: inline-block;
    float: left;
    width: 100%;
    padding-bottom: 20px;
    min-height: 400px;
}

.tab-content {
    width: 100%;
    display: none;
    height: 100%;
    float: left; // border:1px solid red;


}

.tab-content .body-modulo {
    margin-top: 20px;
}

.tab-content .container {
    width: 100%;
}

.tab-content.on {
    display: block;
}






















/* arbol categorias  */

.arbol {
    padding: 15px 25px;
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 70vh;
}

.arbol .nodo {
    position: relative;
    padding-left: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.arbol .nodo-hijo {
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
}

.arbol .nodo .i-nodo {
    position: absolute;
    top: -5px;
    left: 1px;
    font-size: 26px;
    color: #ccc;
}

.arbol .nodo-hijo .i-nodo {
    font-size: 26px;
    top: -5px;
    position: absolute;
    color: #ccc;
}

.arbol .btn-i:hover {}

.panel-group {
    margin-bottom: 1px;
}

.arbol-cat {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px 20px;
    overflow-y: scroll;
    height: 350px;
    position: relative;
}

.arbol-cat label {
    display: block;
}

.arbol-cat .header {
    position: absolute;
    width: 100%;
    background-color: @color-white-c;
    border-top: 1px solid @box-border-color;
    bottom: 0;
    left: 0;
    padding: 7px;
    z-index: 1;
}

.arbol-cat .header .form-control {
    float: left !important;
    margin-left: 0 !important;
    width: 55% !important;
}

.arbol-cat .header label {
    float: left !important;
    width: 35% !important;
    padding-top: 7px;
}

.arbol-cat .body-cats {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 0;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

// list-sorteable
.box-list-group {
    margin-top: 10px;
    display: inline-block;
    width: 100% !important;
    cursor: pointer;
}


//box-seleccionar
.box-seleccionar {
    position: absolute;
    width: 280px;
    min-height: 300px;
    max-height: 350px;
    overflow-y: auto;
    right: -10000px;
    z-index: 10;

    &.on {
        right: 0px;
    }

    .buscador {
        width: 92%;
        float: left;
        clear: both;
        text-align: left;
        margin: 10px;
        position: relative;

        .icn {
            float: left;
            margin: 3px;
        }

        input {
            width: 88%;
            padding: 5px 0px;
        }
    }

    .resultados {
        width: 100%;
        float: left;
        min-height: 250px;
        display: block;
        overflow-y: auto;

        .item {
            width: 100%;
            float: left;
            clear: both;
            text-align: left;
            padding: 5px 10px 10px 10px;
            cursor: pointer;
            margin-bottom: 5px;

            .icn {
                float: left;
                margin-right: 10px;
                padding-left: 1px;
            }

            >span {
                width: 87%;
                float: left;
            }
        }
    }
}

.bodyPage {
    width: 100%;
    height: 95.47vh;
    display: flex;

    .sidebar {
        width: 200px;
        height: 100%;
        display: inline-block;
        background-color: @blanco-1;
        border-right: 1px solid @gray-1;

        .title {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            // flex-direction: column;
            color: @blanco;

            .icn {
                border-radius: 100px;
                /* border: 2px solid #d7e0f5; */
                font-size: 21px;
                padding: 3px;
                margin-right: 4px;
                margin-left: -15px;
            }

            span {
                color: @color-navbar;
                font-size: 21px;
            }
        }

        .botones {
            display: flex;
            flex-direction: column;
            margin-top: 40px;

            a {
                font-size: 16px;
                padding: 3px 20px;
                margin-bottom: 10px;
                color: @gray-2;
                text-decoration: none;
                position: relative;

                .icn {
                    margin-right: 5px;
                    font-size: 18px;
                }

                &.active {
                    color: @naranja;
                    //background-color: @gray-2;
                    font-weight: bold;

                    &:hover {
                        color: @naranja-a;
                    }

                    &:before {
                        font-family: "icon-font";
                        content: "\e80b";
                        position: absolute;
                        top: 3px;
                        right: 0;
                        font-size: 38px;
                        line-height: 25px;
                        width: 24px;
                        color: @bg;
                        text-shadow: -1px 0px 0px @gris-3;
                    }
                }

                &:hover {
                    color: @azul;
                }
            }


        }
    }

    .tbody {
        .widthAvailable();
        .heightAvailable();
        display: inline-block;
        background: transparent;
        border: 0px !important;
        background-color: transparent !important;
        padding: 25px !important;

        .table-responsive {
            width: 100%;
            position: relative;
            display: inline-block;

            .table {
                position: relative;

                thead {
                    line-height: 15px;
                }
            }

            .dataTables_wrapper {
                .top {
                    border-top: 0px;
                    padding-bottom: 17px;
                }
            }

        }

        .table tr td,
        .table tr th {
            padding: 5px;
            padding-right: 18px;
        }

        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:after {
            bottom: 4px;
            right: 5px;
        }
    }
}