// out: finder.css, sourcemap: false, compress: true
// Variables
@import "variables.less";

.modal-finder {
  width: 100%;
  height: 100vh;
  background-color: rgba(30, 37, 41, 0.74);
  position: fixed;
  top: -101vh;
  left: 0;
  opacity: 0;
  // transition: all ease 0.4s;
}

.modal-finder.on {
  width: 100%;
  height: 100vh;
  top: 0;
  opacity: 1;
  // transition: all ease 0.4s;
  z-index: 130;
}

.modal-finder .modal-finder-inner {
  width: 90%;
  height: 95vh;
  top: -1001vh;
  opacity: 0;
  // transition: all ease 0.4s;
}

.modal-finder.on .modal-finder-inner {
  left: 5%;
  right: 5%;
  width: 90%;
  height: 95vh;
  top: 2.5vh;
  border: 1px solid @box-border-color;
  background: @color-white;
  border-radius: @box-border-radius;
  display: inline-block;
  position: absolute;
  .box-shadow();
  transition: all ease 0.4s;
  opacity: 1;
}

.modal-finder .block-form {
  border: 1px solid @box-border-color;
  background: @color-white;
  border-radius: @box-border-radius;
  padding: 15px;
  display: inline-block;
  position: absolute;
  z-index: 20;
  width: 300px;
  .box-shadow();
  display: none !important;
}

.modal-finder .block-form.on {
  display: block !important;
}

.modal-finder .texto-embed {
  position: absolute;
  bottom: 5px;
  left: 0;
  /* z-index: 20; */
  font-size: 12px;
  color: #ccc;
  width: 100%;
  text-align: center;
  display: block;
}

.btn-up-finder {
  float: right;
  color: #5d6569 !important;
  margin-right: 8px;
}

.btn-up-finder:hover {
  background-color: @color-green;
  color: @color-white !important;
  border-color: @color-green;
}

.btn-up-finder:hover i {
  color: @color-white !important;
}
/* finder   */
.finder {
  position: relative;
  position: relative;
  width: 100%;
  height: 98%;
}

.finder .finder-head {
      height: 54px;
}

.finder .finder-head .title-finder {}

.finder .head-todos {
  padding: 15px;
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
}

.finder .head-todos .btn {
  margin-right: 10px;
  border-color: @color-gray;
}

.finder .head-todos .btn:hover {
  background-color: @color-green !important;
  border-color: @color-green !important;
  color: @color-white !important;
}

.finder .head-todos .btn:hover i {
  color: @color-white !important;
}

.finder .head-todos .disabled:hover{
  background-color: @color-white-c !important;
  border-color:  @color-gray !important;
  color: @color-gray-a !important;
}

.finder .head-todos .disabled:hover i{
  color: @color-gray-a !important;
}

.finder .btn-subir-imagen {
  float: left;
  z-index: 1;
  pointer-events: none;
  position: relative;
  cursor: pointer;
  width: 126px;
}

.finder .inputArchivo {
  width: 128px;
  float: left;
  opacity: 0;
  color: #fff;
  height: 36px;
  display: inline-block;
  z-index: 0;
  position: absolute;
  left: -1px;
  top: -1px;
  border: 1px solid @color-green;
  cursor: pointer;
}

.finder .inputArchivo:hover {
  opacity: 1;
  cursor: pointer;
}

.finder .finder-body .tbody ul {
  width: 99.8%;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
    max-height: 83vh;
  overflow-y: auto;
  z-index: 3;
}

.finder .finder-body .tbody ul .finder-item {
  background-color: #f3f6f8;
  //box-shadow: inset 0 0 0 1px @color-gray;
  border: 1px solid @color-gray;
  width: 100px !important;
  min-height: 100px;
  padding: 0;
  font-size: 10px;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  border-radius: 2px;
  // float: left;
  display: inline-block;
  background-position: center center !important;
  background: url("../img/loading.svg") no-repeat center center;
  background-color: rgba(250, 250, 250,.7);
  background-size:100px auto !important;
  position: relative;
  text-align: left;
}

.finder .finder-body .tbody ul .finder-item .nombre {
  width: 90px;
  color: #777;
  word-wrap: break-word;
  // position: absolute;
  // left: 5px;
  // top: 102px;
  font-size: 115%;
}

.finder .finder-body .tbody ul .finder-item .progreso {
  font-size: 12px;
  color: @color-gray-d;
  position: absolute;
  top: 43%;
  left: 26%;
  width: 50px;
  //border: 1px solid red;
  text-align: center;
}

.finder .finder-body .tbody ul .finder-item .error {
  border: 1px solid @color-red;
  background-color: @color-red;
  color: @color-white;
  position: absolute;
  top: 30%;
  font-size: 15px;
  padding: 5px;
  border-radius: 4px;
  left: 5%;
  width: 90%;
}

.finder .finder-body .tbody ul .finder-item video {
  width: 90px;
  height: 80px;
  margin: 4px;
}

.finder .finder-body .tbody ul .finder-item:hover {
  border-color:@color-gray-b;
  background-color: @color-white-c;
  box-shadow: 0px 0px 2px rgba(51, 51, 51, 0.55);
}

.finder .finder-body .tbody ul .finder-item.on {
  box-shadow: 0 0 0 2px #00aadc, 0 4px 6px #c8d7e1;
}

.finder .finder-body .tbody ul .finder-item .texto-embed {
  display: inline-block !important;
  line-height: 12px;
  color: #3F444B;
  text-align: left;
  margin: 5px;
  bottom: 0;
}

.finder .finder-body .tbody ul .finder-item .video-embed {
  display: inline-block;
  top: 13px;
    left: 1px;
}

.finder .finder-body .tbody ul .finder-item .video-embed iframe {
  width: 90px;
  height: 60px;
  margin-top: 5px;
}

.finder-item .icn-albums{
position: absolute;
right: 5px;
top: 5px;
font-size: 20px;
color: white;
text-shadow: 1px 1px 1px #333333;
}

.finder .finder-footer {
  position: absolute;
  bottom: -2vh;
  /* border: 1px solid red; */
  width: 100%;
  padding: 15px;
  border-top: 1px solid @box-border-color;
  background: @color-white !important;
  text-align: right;
  z-index: 4;
}

.finder-item.item-video .video-embed {
  display: inline-block !important;
}

.finder-item.item-video .nombre {
  display: inline-block !important;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98px;
  text-align: left;
  font-size: 11px;
}

.finder-item.item-video .video-embed iframe {
  width: 92px;
  margin: 3px;
  height: 75px;
}

.finder-item.item-audio{
  background-size: 80px;
}

.finder-item.item-audio audio{
  width: 90px;
}
.finder-item.item-audio .nombre{
    display: inline-block !important;
font-size: 11px;
text-align: left;
position: absolute;
width: 90px;
/* border: 1px solid; */
left: 5px;
bottom: 5px;
}

.finder .tab-content .box-buscador {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 0;
}

.finder .tab-content .box-buscador .icn {
  position: absolute;
  z-index: 10;
  top: 7px;
  left: 5px;
}

.finder .tab-content .box-buscador input {
  padding-left: 25px;
}

.finder .box-upload {
  float: left;
  display: inline-block;
  position: relative;
}
#content-documentos .progreso{
  width: 100%;
height: 100%;
position: absolute;
background: white;
top: 0;
left: 0;
z-index: 4;
display: inline-table;
}
#content-documentos .progreso-inner{
  width: 100px;
    height: 100px;
    // border: 1px solid;
    display: inline-table;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -100px;
    margin-left: -50px;
    background: url(../img/loading.svg)no-repeat;
    background-size: 80px;
    background-position-x: 10px;
    background-position-y: -15px;
    vertical-align: middle;
}
#content-documentos .progreso-inner .texto{
display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.form-album .form-group label,
.form-embed .form-group label {
  width: 80% !important; // border: 1px solid red;
  display: inline-block;
  text-align: left;
  float: left;
}

.form-album .form-group .form-control,
.form-embed .form-group .form-control {
  width: 100% !important;
}

.form-album .btn-agregar-album,
.form-embed .btn-agregar-embed {
  margin: 15px 0 0 !important;
  border-color: @color-green !important;
}

.btn-cancelar-album{
  margin-top: 15px;
}

.btn-crear-album {
  float: left;
}

#finder-albums .finder-item {
  background-position: center top !important;
}

#finder-albums .finder-item .nombre {
  display: inline-block;
      position: absolute;
      height: 42px;
      bottom: 0px;
      font-size: 11px;
      width: 98px;
      left: 0;
      text-align: left;
      padding: 5px;
      background: white;
      z-index: 2;
      padding-bottom: 1px;
}

#finder-albums .finder-item .cantidades {
  display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 11px;
      padding-bottom: 2px;
      background: white;
      width: 98px;
      z-index: 3;
      text-align: center;
}


.checkbox-item {
  display: inline-block !important;
  position: absolute;
  z-index: 3;
  left: 5px;
  bottom: 5px;
  font-size: 16px;
}

.box-upload-docs .inputDoc{
  width: 152px;
}

.box-upload-docs{
  width: 150px;
/* border: 1px solid; */
display: inline-block;
float: left;
height: 35px;
margin-right: 10px;
}

.box-upload-docs .btn-subir-doc{
  z-index: 2;
position: absolute;
width: 150px;
left: 0;
pointer-events: none;
}

.item-doc{
  background:transparent !important;
}

.item-doc .nombre{
  display: block !important;
    width: 96px;
    height: auto;
    overflow-y:auto;
    position:relative;
    // bottom: 0;
    padding: 5px;
    text-align: left;
    font-size: 11px;
    word-wrap: break-word;
    color:@color-black;
}

.item-doc .tipo-archivo{
  display: inline-block !important;
    color: @color-gray-e;
}

.item-doc .icn{
  font-size: 27px;
      // position: absolute;
      // top: 5px;
      // left: 5px;
}

.icn-pdf{
  color:@color-red;
}
.icn-word{
  color:@color-blue-a;
}
.icn-powerpoint{
  color:@color-orange;
}
.icn-excel{
  color:@color-green;
}
