.color-white {
  color: #FFFFFF;
}
.color-white-a {
  color: #FEFEFE;
}
.color-white-b {
  color: #FAFAFA;
}
.color-white-c {
  color: #F9F9F9;
}
.color-white-d {
  color: #F6F7F9;
}
.color-gray {
  color: #E6E7E9;
}
.color-gray-a {
  color: #D7D9DE;
}
.color-gray-b {
  color: #B4BBC5;
}
.color-gray-c {
  color: #879099;
}
.color-gray-d {
  color: #5d6569;
}
.color-gray-e {
  color: #3F444B;
}
.color-black {
  color: #191B1C;
}
.color-red {
  color: #EB5C43;
}
.color-red-a {
  color: #E83759;
}
.color-lilac {
  color: #E71882;
}
.color-lilac-a {
  color: #F4A9CB;
}
.color-violet {
  color: #8B3B8F;
}
.color-violet-a {
  color: #DDABCE;
}
.color-violet-b {
  color: #806AAD;
}
.color-violet-c {
  color: #C2B4D9;
}
.color-blue {
  color: #386DB4;
}
.color-blue-a {
  color: #9DBAE2;
}
.color-blue-b {
  color: #2D9EE0;
}
.color-blue-c {
  color: #0076FF;
}
.color-light-blue {
  color: #33AADD;
}
.color-light-blue-a {
  color: #94D4F0;
}
.color-light-blue-b {
  color: #00BDC6;
}
.color-light-blue-b {
  color: #A4D9DD;
}
.color-green {
  color: #24AA5B;
}
.color-green-a {
  color: #CBE6B2;
}
.color-green-b {
  color: #99C14C;
}
.color-green-c {
  color: #DCDC07;
}
.color-green-d {
  color: #FBF29D;
}
.color-green-e {
  color: #0D803C;
}
.color-yellow {
  color: #FFCF08;
}
.color-yellow-a {
  color: #FFEBAB;
}
.color-yellow-b {
  color: #FFDC51;
}
.color-orange {
  color: #FCBE14;
}
.color-orange-a {
  color: #F39333;
}
.color-orange-b {
  color: #FAC078;
}
.color-brown {
  color: #C2975C;
}
.color-brown-a {
  color: #E0CBAE;
}
.color-brown-b {
  color: #8A7354;
}
.color-navbar {
  color: #495570;
}
@font-face {
  font-family: 'lato-bold';
  src: url('../font/Lato-Bold.woff2') format('woff2'), url('../font/Lato-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'lato-light';
  src: url('../font/Lato-Light.woff2') format('woff2'), url('../font/Lato-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'lato-regular';
  src: url('../font/Lato-Regular.woff2') format('woff2'), url('../font/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
.text-size {
  font-size: 14px !important;
}
.text-size-small {
  font-size: 12px !important;
}
.text-size-xsmall {
  font-size: 11px !important;
}
.h1 {
  font-size: 30px !important;
}
.h2 {
  font-size: 24px !important;
}
.h3 {
  font-size: 20px !important;
}
.h4 {
  font-size: 16px !important;
}
/*   modal  */
.modal {
  width: 100%;
  overflow-y: hidden;
  text-align: center;
}
.modal.on {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.modal .modal-inner {
  width: 700px;
  height: 87vh;
  left: 50%;
  top: -1000px;
  margin-left: -350px;
  margin-top: 0;
  overflow-y: auto;
  position: absolute;
}
.modal.on .modal-inner {
  overflow: hidden;
  width: 700px;
  height: 87vh;
  position: absolute;
  display: block;
  left: 50%;
  top: 6vh;
  margin-left: -350px;
}
.modal.on .modal-inner.loading {
  height: 100px !important;
  width: 100px !important;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
.modal.on .modal-inner .preloader-page {
  background-position: center center !important;
}
.modal .btn-close-modal {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 120;
  padding: 13px;
}
.modal .body-page {
  display: inline-block;
  float: left;
}
.modal .body-page .head-modulo {
  padding: 10px 12px;
  display: block;
  position: absolute;
  width: 100%;
  z-index: 102;
}
.modal .body-page .body-modulo {
  padding: 10px 12px 0;
  display: block;
  float: left;
  position: absolute;
  margin-top: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.modal .body-page .body-modulo .form {
  margin-bottom: 10px;
  padding-bottom: 30px;
  height: auto;
}
.modal .body-page .body-modulo .form-images,
.modal .body-page .body-modulo .form-multimedia,
.modal .body-page .body-modulo .form-videos {
  min-height: auto;
  margin: 0 15px 15px 0 !important;
  clear: none;
}
.form-group.form-multimedia {
  padding: 0;
  border: 0;
}
.modal .form-normal {
  margin-top: 12px;
}
.label-unico-form {
  float: left;
  width: 30%;
  margin-top: 15px;
  text-align: right;
  padding-right: 20px;
  clear: left;
}
.modal .form-multimedia.form-multimedia-list {
  padding: 0;
  list-style: none;
  border: 0;
}
.modal .form-multimedia.form-multimedia-list ul {
  list-style: none;
}
.modal .body-page .body-modulo .form-botones {
  z-index: 103;
  position: fixed;
  left: 0px !important;
  bottom: 6.97vh;
  width: 99.98%;
  text-align: center !important;
  display: inline-block;
  float: left;
  margin: 0;
}
.modal .body-page .body-modulo .form-botones .group {
  width: 700px;
  display: inline-block;
  float: none;
  margin: 0;
  padding: 10px 15px;
  text-align: right;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.modal .body-page {
  height: 100%;
}
.modal .dialog {
  height: 99.8%;
  position: relative;
}
.modal .form-modulo .form-group label {
  width: 26%;
  float: left;
  display: inline-block;
  margin-top: 7px;
  margin-right: 15px;
}
.modal .form-modulo .form-group .form-control,
.modal .form-modulo .form-group .input-group {
  width: 67.25%;
  display: inline-block;
  float: right;
  margin-right: 15px;
  margin-left: 12px;
}
.modal .img-control {
  width: 69%;
  display: inline-block;
  float: right;
  margin-right: 15px;
  margin-left: 8px;
}
.modal .form-modulo .form-group .input-group .form-control {
  width: 100%;
  margin-right: 0;
}
.modal .modal-inner.mensaje-eliminar {
  width: 380px !important;
  max-height: 300px !important;
  margin-left: -190px !important;
  height: auto !important;
  margin-top: 20vh !important;
}
.modal .form-modulo {
  width: 100%;
  position: relative;
  display: inline-block;
}
.form-control.box-md-1,
.form-control.box-md-10,
.form-control.box-md-11,
.form-control.box-md-12,
.form-control.box-md-2,
.form-control.box-md-3,
.form-control.box-md-4,
.form-control.box-md-5,
.form-control.box-md-6,
.form-control.box-md-7,
.form-control.box-md-8,
.form-control.box-md-9 {
  margin-left: 4px;
}
.form-group .radio-inline:first-child {
  margin-left: 27%;
}
.form-group .radio-inline {
  width: 100px !important;
  margin-top: 10px;
}
.form-group .btn-collapse {
  margin-left: 29%;
  float: left;
}
.form-group .form-collapse {
  width: 100%;
  clear: both;
  float: left;
}
.form-group .well {
  padding: 15px;
  display: inline-block;
  width: 100%;
}
.form-group .box-image {
  width: 66%;
}
.form-group .box-image-block .icn-sorteable {
  position: absolute;
  z-index: 25;
  top: 5px;
  left: 5px;
}
.form-group .btn-up-finder {
  float: left !important;
  margin-left: 4px;
}
.form-group .btn-eliminar-imagen {
  position: absolute;
  right: 0;
  top: 5px;
  padding: 0;
  text-shadow: 1px 1px 0 #fff, 1px 1px 1px #000;
  font-size: 11px;
  z-index: 25;
  /* color: #ffffff !important; */
}
.form-group .btn-eliminar-imagen i {
  color: #fff !important;
  font-size: 12px;
}
.form-group .btn-eliminar-imagen:hover i {
  color: #EB5C43;
}
.form-group .box-acciones,
.form-group .box-acciones-img,
.form-group .box-acciones-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 23;
  opacity: 0;
  transition: all ease 0.3s;
}
.form-group .box-acciones-img:hover,
.form-group .box-acciones-video:hover,
.form-group .box-acciones:hover {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: all ease 0.3s;
}
.box-acciones-mul {
  display: inline-block;
}
.box-acciones-mul.off {
  display: none;
}
.box-mul-nombre {
  display: inline-block;
  position: absolute;
  font-size: 11px;
  bottom: 5px;
  width: 90px;
  text-align: left;
  left: 5px;
  word-wrap: break-word;
}
.box-mul-nombre.off {
  display: none;
}
.btn-up-finder {
  display: inline-block;
}
.btn-up-finder.off {
  display: none;
}
.img-responsive {
  display: inline-block;
}
.img-responsive.off {
  display: none;
}
.box-video-unico {
  position: absolute;
  z-index: 22;
  display: inline-block;
}
.box-video-unico iframe {
  width: 90px;
  margin: 5px;
  height: 60px;
}
.form-group .btn-eliminar-img,
.form-group .btn-eliminar-video {
  position: absolute;
  right: 0;
  top: 7px;
  padding: 0;
  text-shadow: 1px 1px 1px #000;
  font-size: 11px;
  display: inline-block;
  z-index: 100;
  /* color: #ffffff !important; */
}
.form-group .btn-editar-img,
.form-group .btn-editar-video {
  position: absolute;
  right: 0;
  bottom: 7px;
  padding: 0;
  text-shadow: 1px 1px 1px #000;
  font-size: 11px;
  display: inline-block;
}
.form-group .btn-cambiar-img,
.form-group .btn-cambiar-video {
  position: absolute;
  top: 7px;
  left: 7px;
  padding: 0;
  text-shadow: 1px 1px 1px #000;
  display: inline-block;
}
.form-group .btn-cambiar-img:hover {
  background: transparent;
  border: transparent;
}
.form-group .btn-cambiar-img i {
  font-size: 20px;
}
.form-group .btn-cambiar-img i,
.form-group .btn-editar-img i,
.form-group .btn-eliminar-img i {
  color: #FFFFFF;
}
.form-group .btn-eliminar-file {
  position: absolute;
  right: 0;
}
.form-group .btn-editar-file {
  position: absolute;
  right: 0;
  bottom: 0;
}
.form-group > ul {
  width: 67.5%;
  display: inline-block;
  float: right;
  margin-right: 15px;
}
.form-group > ul,
.form-group > ul li {
  list-style: none;
  text-align: left;
}
.form-group .btn-editar-file i,
.form-group .btn-eliminar-file i {
  margin: 0;
  color: #FFFFFF;
}
.btn-adicionar-imagen-nuevo span,
.btn-adicionar-mul span,
.btn-adicionar-video span {
  position: absolute;
  top: 68px;
  left: 10px;
  font-size: 11px;
  text-align: center;
  width: 80px;
  display: inline-block;
}
.form-group .btn-adicionar-imagen,
.form-group .btn-adicionar-mul,
.form-group .btn-adicionar-video,
.form-group .btn-adicionar-video {
  width: 100px;
  height: 100px;
  margin: 0;
  display: inline-block;
  border: 1px dotted #879099;
  box-sizing: border-box;
  float: left;
}
.form-documentos label {
  margin-right: 28px !important;
  margin-top: 10px !important;
}
.form-documentos .box-docs {
  width: 67%;
  float: left;
}
.form-documentos .box-doc-li {
  float: left;
  width: 100%;
  clear: both;
  margin-bottom: 4px;
  margin-top: 4px;
  border: 1px solid #D7D9DE;
  border-radius: 5px;
  background-color: #FEFEFE;
}
.form-documentos .box-doc-li.ui-sortable-helper {
  background-color: #F6F7F9;
}
.form-documentos .box-doc-li .icon-tipo {
  float: left;
  font-size: 21px;
  /* border: 1px solid; */
  margin-top: 3px;
  margin-left: -5px;
}
.form-documentos .box-doc-li .icn-reorder {
  float: left;
  margin: 8px;
}
.form-documentos .box-doc-li .box-acciones-docs {
  float: right;
  width: 97px;
}
.form-documentos .box-doc-li .box-acciones-docs .btn {
  float: right;
  padding-right: 0;
}
.form-documentos .box-doc-li .box-acciones-docs .btn-editar-doc {
  margin-top: 2px;
  margin-right: -5px;
}
.form-documentos .box-doc-li .box-acciones-docs .btn-link {
  padding-right: 0;
  margin-top: 1px;
  margin-right: -10px;
  opacity: 0.5;
}
.form-documentos .box-doc-li .nombre {
  float: left;
  width: 62%;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 4px;
}
.form-img-block {
  width: 100px;
  height: 100px;
  margin: 0 15px 15px 0;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  clear: none;
  overflow-y: hidden;
}
.form-img-block .btn-up-finder {
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.form-img-block .btn-up-finder .icn {
  margin-right: -3px;
  margin-top: 30px;
}
.form-img-block .btn-up-finder span {
  margin-top: 0;
  display: block;
}
.form-group .btn-adicionar-imagen:hover,
.form-group .btn-adicionar-mul:hover,
.form-group .btn-adicionar-video:hover {
  border-color: #879099;
}
.form-group .btn-adicionar-imagen i,
.form-group .btn-adicionar-mul i,
.form-group .btn-adicionar-video i {
  font-size: 23px;
  padding: 28px;
  color: #E6E7E9;
}
.form-group .btn-adicionar-imagen:hover i,
.form-group .btn-adicionar-mul:hover i,
.form-group .btn-adicionar-video:hover i {
  color: #879099;
}
.form-group .box-multimedia {
  float: left;
  display: inline-block;
  width: auto;
}
.form-group .box-multimedia .box-embed {
  position: absolute;
  z-index: 10;
  left: 5px;
  top: 5px;
}
.form-group .box-multimedia .box-embed iframe {
  width: 90px;
  height: 90px;
}
.form-group .box-multimedia .box-nombre {
  position: absolute;
  left: 5px;
  z-index: 1;
  bottom: 5px;
  font-size: 12px;
}
.form-group .box-multimedia .box-image-mul {
  margin-right: 15px;
  float: left;
  position: relative;
  margin-bottom: 15px;
}
.form-group .box-multimedia .box-image-mul video {
  position: absolute;
  z-index: 10;
  height: 90px;
  width: 90px;
  margin: 5px;
}
.form-group .box-multimedia .box-image-mul .btn-eliminar-mul {
  top: 3px;
  right: -5px;
  position: absolute;
}
.form-group .box-multimedia .box-image-mul .btn-editar-mul {
  position: absolute;
  bottom: 4px;
  right: -5px;
}
.form-group .box-multimedia .box-image-mul .icon-play {
  position: absolute;
  z-index: 11;
  left: 30px;
  font-size: 30px;
  color: white;
  top: 30px;
  text-shadow: 0 1px 1px #4a4646;
}
.form-group .box-multimedia .progress {
  background: url("../img/loading.svg") no-repeat;
  background-size: 70px;
  background-position: center center;
  float: left;
  border: 1px solid #D7D9DE;
}
.form-documentos .btn-up-finder {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mensaje-eliminar .modal-body {
  padding: 25px;
  text-align: center;
  width: 380px;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  border-bottom: 1px solid #D7D9DE;
  padding-bottom: 6px;
}
.mensaje-eliminar .modal-body .icn {
  color: #EB5C43;
  font-size: 45px;
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
}
.mensaje-eliminar .modal-body label {
  font-weight: bold;
  text-align: left !important;
  display: inline-block;
  /* float: left; */
  width: 240px;
}
.mensaje-eliminar .modal-body span {
  display: inline-block;
  font-size: 12px;
  text-align: left;
  width: 240px;
}
.mensaje-eliminar .modal-footer {
  float: right;
  padding: 12px;
}
.mensaje-eliminar .modal-footer .btn {
  margin-right: 8px;
  padding: 5px 30px;
}
.icn-play {
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: 30px;
  top: 30%;
  left: 30%;
}
.head-modal {
  padding: 10px 12px;
  display: block;
  width: 100%;
}
.footer-modal {
  padding: 10px 12px;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
}
.body-modal {
  margin-top: -2px;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.modal-editar {
  z-index: 340 !important;
}
.modal-editar.on .modal-editar-inner {
  width: 630px;
  height: 60vh;
  background: white;
  margin-left: -300px;
  left: 50%;
  position: absolute;
  margin-top: 10vh;
  border-radius: 4px;
}
.modal-editar.on .modal-editar-inner .block-form {
  margin-top: 10px;
}
.modal-list.on {
  z-index: 500 !important;
}
.modal-list.on .modal-list-inner {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -350px;
  width: 700px;
  height: 90%;
  border: 1px solid #D7D9DE;
  background: #FFFFFF;
  border-radius: 5px;
}
.modal .title-head {
  background-color: #f6f7f9;
  border-bottom: 1px solid #d7d9de;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  display: inline-block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-editar-mul {
  position: fixed;
  z-index: 600 !important;
  top: -2110px;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all ease 0.3s;
}
.modal-editar-mul .modal-inner-editar-mul {
  background: url("../img/loading.svg") #fff no-repeat;
  background-size: 50px;
  background-position: center center;
  width: 97% !important;
  height: 93% !important;
  top: 20px !important;
  left: 20px !important;
  margin: auto !important;
  position: absolute;
}
.modal-editar-mul .modal-inner-editar-mul .group-tabs {
  height: 55px !important;
}
.modal-editar-mul.on {
  top: 0;
  transition: all ease 0.3s;
}
.modal-editar-mul .tab {
  width: 100%;
}
.modal-editar-mul .tab .title {
  width: 20%;
  float: left;
}
.modal-editar-mul .tab .group {
  width: 78%;
}
.modal-editar-mul .block-img {
  width: 60%;
  height: 100%;
  display: inline-block;
  float: left;
  position: relative;
}
.modal-editar-mul .block-img .image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: 60% !important;
}
.modal-editar-mul .block-img .preloader {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}
.modal-editar-mul .block-img .box-video {
  width: 550px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -275px;
  display: inline-block;
}
.modal-editar-mul .block-form {
  width: 40%;
  height: 100%;
  float: right;
  overflow-y: auto;
  padding: 15px 5px 15px 25px !important;
  display: inline-block;
  background-color: #F9F9F9;
}
.modal-editar-mul #image {
  width: 100% !important;
}
.modal-editar-mul .form-group .form-control {
  margin-left: 0 !important;
}
.title-productos {
  width: 30% !important;
}
.group-tabs-productos {
  width: 70% !important;
}
.box-buscador-producto {
  width: 94%;
  margin-top: 10px;
  /* margin-left: 20px; */
  display: inline-block;
  position: relative;
}
.box-buscador-producto input {
  padding-left: 30px;
  z-index: 0;
  position: relative;
}
.box-buscador-producto .icn {
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 1;
}
.body-productos {
  float: left;
  /* border: 1px solid red; */
  margin: 20px;
  width: 94%;
  height: 70vh;
  overflow-y: auto;
}
.body-productos .item {
  float: left;
  clear: both;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #D7D9DE;
  padding-bottom: 10px;
  padding-top: 10px;
}
.body-productos .item .imagen {
  border: 1px solid #D7D9DE;
  width: 40px;
  height: 40px;
  background-size: contain !important;
  float: left;
  margin-left: 7px;
}
.body-productos .item .nombre {
  padding-top: 10px;
  float: left;
  margin-left: 10px;
}
.body-productos .item:hover {
  background-color: #D7D9DE;
}
.body-productos .item .icn {
  color: #fff;
  float: right;
  /* color: red; */
  font-size: 20px;
  margin-top: 7px;
  margin-right: 7px;
}
.body-productos .item.seleccionar .icn {
  color: #24AA5B;
}
.item-producto {
  background-color: #FFFFFF;
  padding: 7px 10px;
  border: 1px solid #D7D9DE;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}
.item-producto .icn-close {
  position: absolute;
  top: 0;
  right: 0;
}
.item-producto .icn-close:hover {
  color: red;
}
.form-ordenar {
  height: 98.5% !important;
  overflow-y: auto;
  margin-bottom: 0 !important;
  padding: 0 !important;
}
.form-ordenar ul {
  height: 100%;
}
.form-ordenar ul > li {
  list-style: none;
  text-align: left;
  padding: 7px 15px;
  border: 1px solid #D7D9DE;
  border-radius: 5px;
  background: white;
  margin-bottom: 5px;
  display: block;
  /* float: left; */
  width: 100%;
  height: auto !important;
  float: left;
  display: flex;
  align-items: center;
}
.form-ordenar ul > li .icn {
  margin-left: -5px;
  margin-right: 10px;
  float: left;
}
.form-ordenar ul > li .img-prod {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-size: cover !important;
  margin-right: 7px;
}
.form-ordenar ul > li .nombre {
  float: left;
  display: inline-block;
}
.iconAction {
  z-index: 10;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 25px;
  top: 4px;
  font-size: 18px;
}
.iconAction.success {
  color: green;
}
.iconAction.danger {
  color: red;
}
