// out: nav.adm.css, sourcemap: false, compress: true
// Variables
@import "variables.less";


.navbar {
    width: 100%;
    height: @heigth_navbar;
    display: block;
}

.navbar-top-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: @z-index-navbar;
}

.navbar .navbar-inner {
    width: 100%;
    height: @heigth_navbar;
}

.navbar-left {
    display: inline-block;
    float: left;
    height: @heigth_navbar;
    padding-left: 10px;
}

.navbar-right {
    display: flex;
    align-items: center;
    // display: inline-block;
    float: right;
    height: @heigth_navbar;
    padding-right: 10px;

    .navbar-atajos{
      padding-left:10px;
      padding-right:10px;
    }
}

.navbar .navbar-left .navbar-brand {
    max-width: @width_brand_navbar;
    height: @heigth_navbar;
    display: inline-table;
    float: left;
}

.navbar .navbar-left .navbar-brand a {
    padding: 5px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.navbar .navbar-left .navbar-brand img {
    // width:@width_brand_navbar - 5px;
    max-height: @heigth_navbar - 15px;
    display: inline-block;
    vertical-align: top;
}

.navbar .navbar-left .navbar-sites {
    float: left;
    width: @min_width_btn;
    text-align: center;
    position: relative;
    z-index: @z-index-navbar + 1; // padding: 6px 7px 8px 6px;

    .btn-salto {
        padding: 3px 8px;

        .icn-salto {}
    }


    .box-sites.on {
        display: inline-block !important;
        z-index: 100;
        width: 180px; // border: 1px solid;
        min-height: 80px;
        position: absolute;
        left: 0px;
        top: 43px;
        padding: 5px 0px;

        a {
            width: 100%;
            display: block;
            text-align: left;
            padding: 7px 15px;

            i {
                float: right;
            }

            .icn-site {
                margin-right: 5px;
                float: left;
            }
        }
    }
}

@-moz-document url-prefix() {
    .btn-salto {
        padding-top: 5px !important;
    }
}

.navbar .nav {
    height: @heigth_navbar;
    display: inline-table;
    float: right;
}

.navbar .nav>li {
    display: table-cell;
    text-align: center;
    vertical-align: middle; //float: left;
}

.navbar .nav>li ul li {
    float: left;
    list-style: none;
    width: 100%;
}


.navbar .nav .collapse,
.navbar .nav .collapse-in.on {
    display: none;
}

.navbar .nav .collapse.on,
.navbar .nav .collapse-in {
    display: block;
}

.navbar .nav .collapse-menu a {
    padding: 12px 5px;
}

.navbar .nav>li>a {
    display: inline-block;
    vertical-align: top;
    padding: 10px 5px;
}

.navbar .nav .btn-menu.on i {
    color: @color-white  !important;
}

.navbar .nav>li>a .user-img {
    height: 28px;
    width: 28px;
    float: left;
    background-size: cover !important;
}

.navbar .nav>li>a .user-name {
    float: left;
    margin-top: 3px;
    margin-left: 7px;
}

.navbar .nav .dropdown-toggle .btn-donw {
    margin-top: 6.4px;
    margin-left: 2px;
    display: inline-block;
}

.navbar .nav .btn-profile-normal.on .user-name,
.navbar .nav .btn-profile-normal.on .btn-donw {
    color: @color-white  !important;
}

.navbar .profile {
    width: 245px;
    left: -115px !important;
}

.navbar .profile a {
    float: left;
    padding: 10px;
}

.navbar .profile .user {
    padding-bottom: 0px;
}

.navbar .profile .user a {
    width: 80px;
}

.navbar .profile .img-user {
    width: 60px;
    height: 60px;
}

.navbar .profile .name-user {
    margin-top: 25px;
    float: left;
    width: 140px; //border:1px solid red
}

.navbar .profile .name-user a {
    float: left;
    clear: both;
    margin-top: 3px;
    padding: 0px;
}

.navbar .profile strong {
    float: left;
    display: inline-block;
    width: 25px;
    margin-top: 4px; //border:1px solid red
}

.navbar .profile span {
    display: inline-block;
    float: right !important;
    width: 165px;
    margin-top: 3px;
    margin-left: 3px; //border:1px solid red
}

.navbar .collapse-menu .perfil {
    width: 140px !important; //border:1px solid red;
}

.navbar .collapse-menu .perfil strong {
    margin-top: 0px;
    width: auto;
}

.navbar .collapse-menu .perfil span {
    width: 65%;
    margin-top: -1px;
    margin-left: 5px //border:1px solid red;
}

.navbar .collapse-menu .btn-perfil {
    padding: 5px 10px !important;
    margin-bottom: 10px !important;
    margin-top: 7px !important;
}

.navbar .nav-menu .dropdown-menu {
    left: auto;
    right: -6px;
    width: @width_menu  !important;
    padding: 0px;
    // height: auto !important;
    min-height: 450px;
}

.navbar .nav-menu .dropdown-menu .title-menu {
    width: 210px;
    float: left;
    clear: both;
    padding: 10px 0;
}

.navbar .nav-menu .dropdown-menu .dropdown {
    width: 100%;
    display: block;
    position: relative;
    z-index: 0; //border:1px solid red;
    float: left;
    clear: both;
}

.navbar .nav-menu .dropdown-menu .dropdown>a {
    width: 100%;
    display: block;
    padding: 7px 0px;
    z-index: 0;
    float: left; //argin-bottom: 5px;
    //border:1px solid red;
}

.navbar .nav-menu .dropdown-menu .dropdown>a i {
    margin-top: -1px !important;
    display: inline-block;
}

.navbar .nav-menu .dropdown-menu .dropdown>a>span {
    display: inline-block;
    width: 80%; //border:1px solid blue;
    margin-left: 7px; // margin-top: px;
}

.navbar .nav-menu .dropdown-menu .dropdown .btn-right {
    position: absolute;
    right: 5px;
    top: 8px;
}

.navbar .nav-menu .box-nav-modulos {
    //display: none;
    position: absolute;
    width: @width_menu;
    min-height: 300px;
    top: 0px;
    z-index: 19;
    right: -@width_menu  !important;
    padding: 0 !important; //display: block;

    .dropdown {
        .btn-skip {
            // border:1px solid red;
            margin-right: 7px;
        }
    }
}

.navbar .nav-menu .box-nav-modulos.on {
    right: 0px !important;
}

.navbar .nav-menu .leftIn {
    //right:250px !important;
    //border-bottom-right-radius: 0;
    //border-top-right-radius: 0;
    //width: 480px !important;
}

.navbar .nav-menu .box-nav-modulos .title {
    margin-top: 0px; //margin-bottom: 15px;
    padding-bottom: 0px;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.navbar .nav-menu .box-nav-modulos .title span {
    margin-left: 5px;
}

.navbar .nav-menu .box-nav-modulos .btn-nav-back {
    cursor: pointer;
    padding: 7px 10px; // border: 1px solid red;
    display: inline-block;
    position: relative;

    &.btn-skip {
        right: 7px;
    }
}



.navbar .nav-menu .box-nav-modulos .dropdown {
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    position: relative;
}

.navbar .nav-menu .box-nav-modulos .btn-sm-sidebar {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar .nav-menu .box-nav-modulos .btn-sm-sidebar i,
.navbar .nav-menu .box-nav-modulos .btn-sm-sidebar span {
    margin: 0;
    margin-top: 0px;
}

.config-sitios {
    width: 100%;
    padding: 10px 15px 15px 15px;
    margin: 0;
}

.config-sitios .btn-sm-sidebar {}

.config-sitios .btn-sm-sidebar ul {
    display: inline-block;
}

.config-sitios .btn-sm-sidebar ul a {
    width: 100%;
}

.config-sitios>ul>li>a span {
    margin-left: 5px;
}

.block-sistemas {
    // padding-bottom: 15px;
}

.block-sistemas .title-menu {
    padding: 4px 10px 4px 10px !important;
    width: 100% !important;
}

.block-sistemas>ul {
    display: block;
    margin-left: 0;
    float: left;
    width: 100% !important;
    margin-left: 0px;
    padding-top: 15px; //margin-bottom: 10px;
    // padding-left: 10px;
    // padding-right: 10px;
}

.block-sistemas>ul>.dropdown {
    display: inline-block !important;
    width: 27% !important;
    clear: none !important;
    min-height: 80px;
    margin: 8px;
    margin-bottom: 7px;
    position: relative; //border: 1px solid red;
}

.block-sistemas>ul>.dropdown>a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center !important;
    padding: 0 !important;

    //  border:1px solid orange;
}

.block-sistemas>ul>.dropdown>a i {
    width: 40px;
    height: 40px; // margin-left: 20px;
    display: inline-block !important;
    padding-top: 1px;
    float: none !important;
}

.block-sistemas>ul>.dropdown>a:hover i {
    // padding-top:6px;
}

.block-sistemas>ul>.dropdown>a span {
    margin-left: 0px !important;
    width: 105% !important;
    margin-top: 8px !important; // border:1px solid red;
}

.block-sistemas .dropdown-menu .dropdown>a>span {
    margin-left: 5px;
}

.block-sistemas .title-sis {
    width: 100%;
    padding: 8px 10px;
    display: inline-block;
    margin-top: -16px;
    float: left;

    i {
        margin-right: 5px;
    }
}

.block-sistemas .box-nav-single {
    padding: 15px;
    display: inline-block;
    width: 100%;
    float: left;
}

.block-sistemas .multi-sis {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.block-sistemas .box-nav-single>li {}

.block-sistemas .box-nav-single>li>a span {
    margin-left: 7px;
}

.block-sistemas>.title-menu {
    padding-top: 0;
    margin-top: 0;
    width: 90% !important;
    padding-left: 15px !important;
}

.btn-skip {
    position: absolute;
    width: 24px !important;
    height: 24px;
    display: inline-block !important; // border: 1px solid red;
    top: 0px;
    right: 0px;
    padding: 0 !important;
    z-index: 4 !important;
    border: 0 !important
}

.btn-skip:hover,
.navbar .nav-menu .box-nav-modulos .btn-skip:hover,
.btn-skip:hover i {
    color: @color-blue  !important;
    border: 0 !important
}



.btn-skip i {
    font-size: 16px !important;
    padding-top: 7px;
    color: @color-gray-a  !important;
    position: absolute;
}

@media screen and (max-width: 470px) {
    .navbar .profile {
        left: auto;
        right: -10px;
    }

    .navbar .nav-menu .leftIn {
        //right: 230px !important;
    }

    .navbar .nav-menu .box-nav-modulos {
        // width: 240px !important;
        // right: -240px  !important;
    }

    .navbar .nav-menu .leftIn .dropdown i {
        // position: absolute;
        // right:10px;
        // top:9px;
    }

    .navbar .nav-menu .leftIn .box-nav-modulos .dropdown i {
        position: relative;
        right: inherit;
        top: inherit;
    }

    .navbar .nav-menu .leftIn .btn-nav-sis i {
        //right: 30px;
    }
}