@import (reference) "color.less";
@import (reference) "variables.less";

//Iconos
.icn-danger {
    color: @rojo-alerta;
}

.icn-warning {
    color: @naranja-alerta;
}

.icn-success {
    color: @verde-alerta;
}

.icn-info {
    color: @celeste-alerta;
}

.icn-primary {
    color: @azul-alerta;
}

.icn-cancel {
    color: @gris-alerta;
}

.loading {
    width: 42px;
    height: 65px;
    background: url(../img/loading.svg) no-repeat;
    display: inline-block;
    margin: 20px;
    background-size: 70%;
}

.root-modulo {

    //renderContenido
    //header
    .header {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        background-color: @blanco;
        border-bottom: 1px solid @colorLinea;

        .icn {
            font-size: 18px;
        }

        .btn {
            border: 0;
            padding: 0;
            margin-right: 10px;

            i {
                color: @azul-a;
                font-size: 32px;
            }
        }

        .title {
            h1 {
                color: @color-navbar;
                font-size: 1.8em;
                margin: 10px 0;
            }
        }


        &.headerModoTarea {
            width: 100%;
            position: relative;
            border-bottom: 1px solid @gris-4;
        }

        &.headerEstandar {

            .pull-left {
                display: flex;
                padding-left: 20px;
                align-items: center;

                .icn {
                    font-size: 21px;
                    margin-right: 10px;
                }
            }
        }

    }

    .tbody {
        &.tbody-container {
            margin-top: 15px;
        }
    }
}

//finder{
.modal-finder {
    &.on {
        .inner {
            height: 80vh;
            top: 8vh;
        }
    }

}

//table

.table {
    tbody {
        tr {
            td {
                padding: 3px 10px;
            }
        }
    }
}

//forms{

.formRender{
    position: relative;

    .widthAvailable();
    background: @blanco;
    padding: 25px;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 5px;
    /* border-color: red; */
    border: 1px solid @gris-3;
    display: inline-block;

    &.form-modulo {
        width: 70%;
        position: relative;
        padding-bottom: 80px;

        .form-group {
            &.form-botones {
                text-align: right;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 0;
                /* background: red; */
                border-top: 1px solid @gris-3;

                .group {
                    margin-right: 20px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    text-align: right;
                }
            }
        }
    }



    &.form-horizontal {
        .form-group {
            display: flex;
            align-items: start;
            flex-wrap: wrap;
            margin-bottom: 10px;

            label {
                width: 30%;
                padding-right: 15px;
                margin-top: 5px;
                text-align: right;
                font-size: 15px;
                color: @gris-5;
            }

            .input-form {
                width: 70%;
                padding: 7px 15px;
                border-radius: 4px;
                border: 1px solid @colorLinea;

                &.error{
                        border-color: @rojo;
                }
            }

            &.lg {
                label {
                    margin-top: 12px;
                }

                .input-form {
                    font-size: 24px !important;
                }
            }

            &.input-lineal {

                .input-form {
                    background: transparent;
                    border: 0px;
                    border-bottom: 1px solid @gris-b;
                    border-radius: 0px;
                    padding-left: 0px;
                    line-height: 22px;
                }

            }



            select {
                width: 70%;
                padding: 7px 15px;
            }

            textarea {
                width: 70%;
                padding: 7px 15px;
            }

            .mensajes-aux {
                width: 100%;
            }



        }
    }

    .form-img {
        border-color: @gris-6;

        .btn-up-finder {
            background-color: @blanco-1;

            &:hover {
                border-color: @gris-3;
            }
        }
    }
}


//Modal
.modalRender {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.modalAgregar {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner {
        //min-height: 450px;
        width: 450px;
        max-width: 450px;
        display: inline-block;
        transition: all ease .5s;
        opacity: 1;
        background-color: #FFF;
        border-radius: 5px;
        -webkit-box-shadow: -1px 1px 12px 6px rgba(0, 0, 0, .2);
        box-shadow: -1px 1px 12px 6px rgba(0, 0, 0, .2);
        -webkit-border-radius: 5px;
    }

    .form {
        margin: 0px;
        border: 0px;
        padding-bottom: 60px;

        .form-botones {
            text-align: right;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0;
            /* background: red; */
            border-top: 1px solid @gray-4;
            padding: 7px 15px 5px;
            background: @blanco;

            .btn{
                padding: 7px 15px;
                font-size: 13px;
            }

            .btn-primary{
                color:@blanco;
            }
        }
    }
}

.modalConfirm {

    .inner {
        position: absolute;
        left: 50%;
        width: 380px;
        max-height: 300px;
        margin-left: -190px;
        height: auto !important;
        margin-top: 20vh;

        transition: all ease .5s;
        opacity: 1;
        background-color: #FFF;
        border-radius: 5px;
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
        box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
        -webkit-border-radius: 5px;

        .modal-body {
            padding: 25px;
            text-align: center;
            width: 380px;
            text-rendering: optimizeLegibility;
            word-wrap: break-word;
            font-size: 15px;
            line-height: 18px;
            border-bottom: 1px solid #D7D9DE;
            padding-bottom: 6px;

            .icn {
                font-size: 45px;
                float: left;
                margin-right: 10px;
                margin-bottom: 15px;
            }

            label {
                font-weight: 700;
                text-align: left !important;
                display: inline-block;
                width: 240px;
            }

            span {
                display: inline-block;
                font-size: 12px;
                text-align: left;
                width: 240px;
            }
        }

        .modal-footer {
            float: right;
            padding: 12px;

            .btn {
                margin-right: 8px;
                padding: 5px 30px;
            }
        }
    }
}

.modalAlert {

    .inner {
        position: absolute;
        left: 50%;
        width: 380px;
        max-height: 300px;
        margin-left: -190px;
        height: auto !important;
        margin-top: 20vh;

        transition: all ease .5s;
        opacity: 1;
        background-color: #FFF;
        border-radius: 5px;
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
        box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
        -webkit-border-radius: 5px;

        .modal-body {
            padding: 25px;
            text-align: center;
            width: 380px;
            min-height: 90px;
            text-rendering: optimizeLegibility;
            word-wrap: break-word;
            font-size: 15px;
            line-height: 18px;
            border-bottom: 1px solid #D7D9DE;
            padding-bottom: 6px;

            .icn {
                font-size: 45px;
                float: left;
                margin-right: 10px;
                margin-bottom: 15px;
            }

            label {
                font-weight: 700;
                text-align: left !important;
                display: inline-block;
                width: 240px;
            }

            span {
                display: inline-block;
                font-size: 12px;
                text-align: left;
                width: 240px;
            }
        }

        .modal-footer {
            float: right;
            padding: 12px;

            .btn {
                margin-right: 8px;
                padding: 5px 30px;
            }
        }
    }
}