// out: theme.adm.css, sourcemap: false, compress: true
// Variables
@import "variables.less";


//  Escenciales
* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: @bg !important; // font-family: @font-light;
    // font-family: @font-regular;
    // font-family: @font-bold;
    font-family: @font;
    text-align: left;
    font-size: @font-size;
    letter-spacing: 0pt;
}

strong {
    font-family: @font-bold;
    color: @color-gray-b;
}



/* form */

.input-icon-addon .input-group-addon i {
    font-size: @h4
}

.form-control {
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    background-color: @color-white;
    background-image: none;
    border-radius: @box-border-radius - 1; // -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    // box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
    // -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    // -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    // transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: none;
    border: 1px solid @color-gray;
    font-family: @font-regular;
    text-align: left;

    &.error{
        border-color:@rojo-b;
    }
}

.mensaje-top{
    font-size: 16px;
    text-align: center;
    line-height: 21px;
}

.box-ini{
    height: auto;
    opacity: 1;
    transition: all ease .3s;

    &.on{
        transition: all ease .3s;
        opacity: 0;
        height: 30px;
    }
}

.form-control-free {
    border: 0;
}

.form-control-info {
    opacity: .7;
}

.form-group .mensajes-aux {
    float: right;
    clear: both;
    width: 67.55%;
    text-align: left;
}

.msg-pw{
    position: absolute;
    z-index: 3;
    background: #e9ecf1;
    color: #555;
    font-size: 12px;
    right: 25px;
    top: 12px;
    border-radius: 5px;

    span{
         padding: 3px 8px;
         display: inline-block;
    }

    &.none{
        background-color: none;
        color:@negro-b;
    }

    &.error{
        background-color: #ff7979;
        color:@blanco;
    }

    &.fuerte{
       background-color:   #9eca6b;
       color:@blanco;
    }    
    &.media{
       background-color: #fbcc3f;
       color:@blanco;
    }
}

.form-group>a {
    font-size: @font-size-small;
    color: @color-gray-b;
    text-decoration: none;
}

.form-group>a:hover {
    color: @color-black;
}


.form-group-ra {
    opacity: .6;
}

.form-group .input-file:hover {
    border: 2px solid @color-green;
}

.form-group .mensaje-pw {
    color: @color-red;
}

.form-group .btn-subir-file:hover {
    background-color: @color-green;
    border-color: @color-green-e;
}

.group {
    text-align: left;
}

.group-panel .table {
    border: 0px;
}

.hr {
    border-bottom: 1px solid @box-border-color;
    margin-bottom: 5px;
}

.form-group .help-block {
    text-align: left;
    font-size: 12px;
    color: @color-gray-b;
}

.form-group-on-off {
    border-bottom: 1px solid @box-border-color;
}

.form-group-on-off label {
    font-size: 22px;
}

.form-group-on-off .btn-on-off {
    font-size: 42px;
}

.form-group-on-off .btn-on-off .icn-btn-off {
    color: @color-gray-b;
}

.form-group-on-off .btn-on-off .icn-btn-on {
    color: @color-green-e;
}

.form-group-on-off span {
    font-size: 16px;
    color: @color-gray-b;
}

.form-title {
    font-size: 20px;
}

.form-fluid .checkbox .text-ref {
    color: @color-gray-b;
}

.form-date {}

.group-new {
    border-top: 1px solid @box-border-color;
    background-color: @blanco-3;

    .header {
        padding: 15px 20px;
        width: 100%;
        float: left;

        label {
            font-size: 17px;
            margin-top: 0px !important;
        }

        .btn {}
    }
}

.foco-validar {
    border-color: @color-red;
}

.progress {
    border-radius: 4px; //border: 1px solid @color-gray
    //background-color: @color-white-c;
}

.progress label {
    font-size: 13px;
    color: #333;
}

.progress .progress-bar {
    background-color: @color-gray;
    border-radius: 4px;
}

.progress .progress-bar span {
    border-radius: 4px;
    background: #b3dced;
    background: -moz-linear-gradient(top, #b3dced 0%, #29b8e5 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #b3dced), color-stop(100%, #29b8e5));
    background: -webkit-linear-gradient(top, #b3dced 0%, #29b8e5 100%);
    background: -o-linear-gradient(top, #b3dced 0%, #29b8e5 100%);
    background: -ms-linear-gradient(top, #b3dced 0%, #29b8e5 100%);
    background: linear-gradient(to bottom, #b3dced 0%, #29b8e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5', GradientType=0);
}

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px !important;
    line-height: 1.3333333;
    border-radius: @box-border-radius
}

.row-lg label {
    margin-top: 12px !important;
}

.btn-link-ra a i {
    font-size: 18px;
}

.block-link-ra {
    border: 1px solid @box-border-color;
    .box-shadow();
    background-color: @color-white;
}

.block-link-ra .block-text {
    font-size: 16px;
    color: @color-gray-c;
}

.block-link-ra .block-text input {
    font-size: 14px;
    border: 0;
    font-size: 16px;
}

.block-link-ra::before {
    content: "\E806";
    font-family: "icon-font";
    font-size: 30px;
    color: @color-white;
    text-shadow: 0px -1px 0px @box-border-color;
}

.block-link-ra.on {
    -webkit-animation: fadein .2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .2s;
    /* Firefox < 16 */
    -ms-animation: fadein .2s;
    /* Internet Explorer */
    -o-animation: fadein .2s;
    /* Opera < 12.1 */
    animation: fadein .2s;
    display: inline-block;
}

.mce-tinymce {
    width: 93%;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

.block-image .img-file {
    min-width: 100px;
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 2px; //background: rgba(0, 0, 0, .3);
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

.box-image .img-file {
    min-width: 100px;
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 2px; //background: rgba(0, 0, 0, .3);
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px @color-white inset;
    -webkit-text-fill-color: @color-gray-d;
    background-color: @color-white;
    background-image: none;
    color: @color-gray-d;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), inset 0 0 0 60px #fff !important;
}

input:focus {
    outline: 0px;
}

a,
input,
button,
div {
    -ms-touch-action: none !important;
    outline: 0px;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:hover {
    color: @color-hover; // text-decoration: underline;
    cursor: pointer;
    outline: 0 !important;
    outline: -webkit-focus-ring-color auto 0px !important
}

a:active,
a:hover {
    outline: 0 !important;
}

.btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border: 1px solid transparent;
    border-radius: @box-border-radius;
}

.btn i {
    font-size: @font-size + 2;
    color: @color-gray-d;
}



.btn:hover i {
    color: @color-hover;
}

.btn-lg {
    font-size: 18px;
    line-height: 1.3333333;
}

.btn-small {
    font-size: @font-size ;
    line-height: 16px;
}

.btn-small i {
    font-size: @font-size - 1;
}

.btn-default {
    background-color: @color-gray-b;
}

.btn-full {
    background-color: @color-white;
    border: 1px solid @color-gray-b;
    color: @color-gray-c;
}

.btn-full:hover {
    text-decoration: none;
    background-color: @color-gray;
    color: @color-black;
}


.btn-info,
.btn-info span,
.btn-info i {
    background-color: @color-blue-c;
    color: @color-white;
    text-decoration: none;
    margin-right: 0 !important;
    margin-left: 5px;
}

.btn-info:hover,
.btn-info:hover span,
.btn-info:hover i {
    background-color: @color-blue;
    color: @color-white;
    text-decoration: none;
}

.btn-primary,
.btn-primary span,
.btn-primary i {
    background-color: @color-blue-c;
    color: @color-white;
    text-decoration: none;
    margin-right: 0 !important;
    margin-left: 5px;
}

.btn-primary:hover,
.btn-primary:hover span,
.btn-primary:hover i {
    text-decoration: none;
    background-color: @color-blue;
    color: @color-white;
}

.btn-danger {
    background-color: @color-red;
    border: 1px solid @color-red;
    color: @color-white;
}

.btn-danger:hover,
.btn-danger:hover span,
.btn-danger:hover i {
    text-decoration: none;
    background-color: @color-red-a;
    color: @color-white;
}


.btn-success,
.btn-success span,
.btn-success i {
    background-color: @color-green;
    color: @color-white;
    text-decoration: none;
    margin-right: 0 !important;
    margin-left: 5px;
}

.btn-success:hover,
.btn-success:hover span,
.btn-success:hover i {
    text-decoration: none;
    background-color: @color-green-e;
    color: @color-white;
}

.btn-link,
.btn-link span,
.btn-link i {
    text-decoration: none;
    color: @color-gray-c;
}

.btn-link span:hover {
    color: @color-hover;
}

.btn span{
    margin-right: 7px !important;
}


.alert {
    font-size: 14px;
    width: 100%;
    display: inline-block;
    position: relative;

    .icon {
        font-size: 21px;
        line-height: 24px;
        position: absolute;
        left: 7px;
        top: 7px;
    }
    .texto {
        display: block;
        width: 87%;
        margin-left: 32px;
        float: left;
    }
}

.alert-danger {
    color: @color-white;
    background-color: @color-lilac-a;
    border-color: @color-red;
}

.alert-warning {
    color: @color-brown-b;
    background-color: @color-yellow-a;
    border-color: @color-yellow;
}

.alert-success {
    color: @color-green-e;
    background-color: @color-green-a;
    border-color: @color-green-b;
    text-align: left;

    .icon {
        color: @verde-f;
    }
    .texto {}
}

.dropdown {
    position: relative;
}

.dropdown .dropdown-menu {
    border-radius: @box-border-radius;
    background-color: @color-white;
    .box-shadow(); // border:1px solid @box-border-color;
    z-index: @z-index-navbar + 1;
    -webkit-animation: fadein .2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .2s;
    /* Firefox < 16 */
    -ms-animation: fadein .2s;
    /* Internet Explorer */
    -o-animation: fadein .2s;
    /* Opera < 12.1 */
    animation: fadein .2s;
}

.dropdown .dropdown-menu .dropdown,
.dropdown .dropdown-menu .dropdown>a>i,
.dropdown .dropdown-menu .dropdown span {
    color: @color-menu;
}


.dropdown .dropdown-menu .dropdown span {
    // margin-top: 4px;
    float: left;
    text-align: left;
    color: @color-gray-d;
}

.dropdown .dropdown-menu .dropdown>a:hover,
.dropdown .dropdown-menu .dropdown>a:hover>i,
.dropdown .dropdown-menu .dropdown>a:hover span {
    color: @color-hover;
}

.dropdown-toggle,
.dropdown-toggle:hover {
    color: @color-gray-c;
}

.dropdown-toggle.on,
.dropdown-toggle.on i,
.dropdown-toggle.on span,
.dropdown-toggle:active,
.dropdown-toggle:visited,
.dropdown-toggle:focus {
    color: @color-black !important;
}

h1 {
    font-size: @h1;
    font-weight: normal;
}

h2 {
    font-size: @h2;
    font-weight: normal;
}

h3 {
    font-size: @h3;
    font-weight: normal;
}

h4 {
    font-size: @h4;
    font-weight: normal;
}

.disabled,
.disabled span,
.disabled i,
.disabled:hover,
.disabled:hover span {
    color: #a5a3a3!important;
    cursor: auto;
    pointer-events: none;
    background: #efefef;
}

.btn-disabled {
    color: @color-gray-b !important;
    background-color: @color-gray;
    pointer-events: none;
    i {
        color: @color-gray-b !important;
        background-color: @color-gray;
    }
}

.disable{
   pointer-events: none;
   opacity: 0.5; 
}

.obligatorio {
    color: @color-red;
}









/* table  */

.table {
    border-radius: 0px @box-border-radius;
    -moz-border-radius: 0px @box-border-radius;
    border: 1px solid @box-border-color;
    text-align: left;
}

.table thead {
    // border-radius: @box-border-radius @box-border-radius 0px 0px;
    border-radius: 0px;
    -moz-border-radius: @box-border-radius @box-border-radius 0px 0px;
    background-image: linear-gradient(#fff, @color-white-d);
    border-color: @box-border-color;
    color: @color-gray-d;
    font-size: @font-size-xsmall + 1;
    line-height: 7px; // text-transform: uppercase;
}

.table .img-previo img {
    border: 1px solid @color-gray;
    background-color: @color-white;
}

.table thead th {
    border-left: 1px solid @color-gray;
    border-bottom: 1px solid @box-border-color;
}

.table thead th:first-child {
    //border-top-left-radius: @box-border-radius;
    border-left: 0px;
}

.table thead th:last-child {
    //border-top-right-radius: @box-border-radius;
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: @box-border-radius;
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: @box-border-radius;
}

.table tbody td {
    font-size: @font-size;
    background-color: @color-white;
    color: @color-text;
}

.table .col-name .text-ref {
    color: @color-gray-b;
}

strong {
    font-family: @font-bold;
    color: @color-text;
    font-weight: inherit;
}

.table tr td {
    border-bottom: 1px solid @box-border-color;
}

.table tr td .img {
    background-size: 40px auto !important;
}


.table .icn-reorder-row {
    font-size: 13px;
    color: @color-gray-c;
}

.table #row-sorteable>.ui-sortable-helper {
    border: 1px solid @color-gray-b;
    .box-shadow();
}

.table .removiendo td {
    background: @color-yellow-a;
    opacity: 0.7;
    -webkit-animation: fadeout .3s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout .3s;
    /* Firefox < 16 */
    -ms-animation: fadeout .3s;
    /* Internet Explorer */
    -o-animation: fadeout .3s;
    /* Opera < 12.1 */
    animation: fadeout .3s;
}

.removiendo {
    background: @color-yellow-a;
    opacity: 0.7;
    -webkit-animation: fadeout .3s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout .3s;
    /* Firefox < 16 */
    -ms-animation: fadeout .3s;
    /* Internet Explorer */
    -o-animation: fadeout .3s;
    /* Opera < 12.1 */
    animation: fadeout .3s;
}

.table tr:last-child td {
    border-bottom: 0;
}

.table tr .col-name {
    color: @color-black;
    font-size: @font-size + 2;
}

.table-hover tr:hover td {
    background-color: @color-white-c;
}

.table .hora,
.table .seg,
.table .min {
    color: @color-gray-b;
    font-size: 14px;
}

.table .programado {
    font-size: 12px;
}

.table .programado i {
    color: @color-red;
}

// Animaciones
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}









/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}









/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}









/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}









/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}









/* Firefox < 16 */

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}









/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}









/* Internet Explorer */

@-ms-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}









/* Opera < 12.1 */

@-o-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* content-page  */

.content-page {}

.preloader-page {
    background: url("../img/loading.svg") no-repeat center center;
    background-size: 40px;
    background-color: rgba(250, 250, 250, 1);
}

.preloader-modulo {
    background: url("../img/loading.svg") no-repeat center 80px;
    background-size: 50px;
    background-color: rgba(250, 250, 250, 1);
}

.content-page .head-modulo {
    background-color: @color-white-a;
    border-bottom: 1px solid @box-border-color;
}

.content-page .head-modulo .title i {
    float: left;
    margin: 0 5px 0 0;
}

.head-modulo .head-botones .btn {
    font-size: 16px;
}

.head-modulo .head-botones .btn i {
    font-size: 19px;
}

.head-modulo .title {
    font-size: 21px;
}


.content-page .head-modulo .btn-sync {
    color: @color-gray-b;
}

.content-page .head-modulo .btn-sync:hover {
    color: @color-light-blue-a;
}

.content-page .body-modulo {

    //border: 1px solid @box-border-color;
}

.head-modulo-inner {
    background-color: @color-white;
    color: @color-text;
    border-top: 1px solid @box-border-color;
    border-left: 1px solid @box-border-color;
    border-right: 1px solid @box-border-color;
    border-top-left-radius: @box-border-radius;
    border-top-right-radius: @box-border-radius;
}

.body-modulo-inner {
    background-color: @color-white;
    border-left: 1px solid @box-border-color;
    border-right: 1px solid @box-border-color;

    &.line-top{
        border-top: 1px solid @box-border-color;
    }
}

.modulo-inner {
    background-color: @color-white;
    border: 1px solid @box-border-color;
    border-radius: @box-border-radius;
}

.footer-modulo-inner {
    background-color: @color-white;
    border-top: 1px solid @box-border-color;
    border-left: 1px solid @box-border-color;
    border-right: 1px solid @box-border-color;
    border-top-left-radius: @box-border-radius;
    border-top-right-radius: @box-border-radius;
}

.footer-modulo {
    border-bottom: 1px solid @box-border-color;
    border-left: 1px solid @box-border-color;
    border-right: 1px solid @box-border-color;
    border-bottom-left-radius: @box-border-radius;
    border-bottom-right-radius: @box-border-radius;
    background: @color-white;
}

.content-page .head-modulo-inner .title {
    font-size: @font-size + 3;
    margin-top: 3px
}

.block-color .colors {
    background-color: @color-white;
    border-radius: @box-border-radius;
    border: 1px solid @box-border-color;
    transition: all ease .3;
    .box-shadow();
}

.block-color .colors.on {
    transition: all ease .3;
    -webkit-animation: fadein .2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .2s;
    /* Firefox < 16 */
    -ms-animation: fadein .2s;
    /* Internet Explorer */
    -o-animation: fadein .2s;
    /* Opera < 12.1 */
    animation: fadein .2s;
}

.block-color .colors .color {}

.block-color .colors .color:hover {
    border-left: 2px solid @color-yellow;
}

.btn-color {
    background: url("../img/btcolor.png") no-repeat center center;
    background-size: 80%;
    border: 1px solid @box-border-color;
    border-radius: 4px;
    cursor: pointer;
}

.btn-color:hover {
    border-color: @color-gray-b
}

.block-color .colors .theader {
    background-color: @color-white-a;
    border-bottom: 1px solid @box-border-color;
    border-radius: @box-border-radius @box-border-radius 0 0;
}

@media screen and (max-width: 470px) {
    .content-page .head-modulo .title-page {
        font-size: @h2;
        margin-top: 5px;
    }
}












/*   tabs   */

.group-tabs {
    //   background-color: @color-white-a;
    border-bottom: 1px solid @box-border-color;
}

.group-tabs .tab .title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.group-tabs .tab .group {
    width: 90%; // height: 52px;
    margin: 0; //border-left:1px solid @box-border-color;
    /* position: absolute; */
}

.group-tabs .tabs-header .title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.group-tabs .tab .group .category {
    /* border: 1px solid red; */
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.group-tabs .tabs-header .group .category {
    /* border: 1px solid red; */
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.group-tabs .tab .group .category:hover {
    border-bottom: 3px solid @color-blue-a;
}

.group-tabs .tab .group .active {
    border-bottom: 3px solid @color-blue-c;
}

.group-tabs .tabs-header .group .category:hover {
    border-bottom: 3px solid @color-blue-a;
}

.group-tabs .tabs-header .group .active {
    border-bottom: 3px solid @color-blue-c;
}

.tabs-body {
    background-color: @color-white;
    border-left: 1px solid @box-border-color;
    border-right: 1px solid @box-border-color;
    border-bottom: 1px solid @box-border-color;
    border-bottom-left-radius: @box-border-radius;
    border-bottom-right-radius: @box-border-radius;
}











/* arbol categorias  */

.arbol-cat {
    background-color: @color-white;
}

.arbol {
    background-color: @color-white;
    border-top: 1px solid @box-border-color;
    border-bottom: 1px solid @box-border-color;
    border-left: 1px solid @box-border-color;
    border-right: 1px solid @box-border-color;
    border-bottom-left-radius: @box-border-radius;
    border-bottom-right-radius: @box-border-radius;
}

.arbol i {
    cursor: pointer;
}

.arbol i:hover {
    cursor: pointer;
    color: @color-hover
}

.arbol-sis-mod .permisos i {
    color: @color-gray-a;
    cursor: pointer;
}

.arbol-sis-mod .permisos i.on {
    color: @color-black;
}









/* vista */

.form-vista {}

.form-vista .btn-v-activar span {
    border-radius: @box-border-radius;
    background-color: @color-gray-b;
    color: @color-white;
}

.form-vista .btn-v-activar span:after {
    font-family: "icon-font";
    content: '\e80a';
    font-size: 14px;
    position: absolute;
    top: 4px;
    left: -9px;
    color: @color-gray-b;
}

.list-items {

    .item {
        border-radius: @box-border-radius;
        background: @color-white;
        .box-shadow();

        .botones {
            text-align: right;
        }
        label {
            font-size: 24px;
            font-family: @font-light;
        }
    }

    .item-nuevo {
        background: transparent;
        border: 1px dashed;
        border-color: @color-gray-a;
        text-align: center;
        color: @color-gray-b;

        &:hover {
            border-color: @color-gray-c;
            color: @color-gray-c;
        }
    }
}

//box-seleccionar
.box-seleccionar {
    border-radius: @box-border-radius;
    background: @color-white;
    border-top: 1px solid @box-border-color; // .box-shadow();
    box-shadow: 0 3px 7px rgba(0, 0, 0, .2);

    .buscador {
        border-radius: 3px;
        border: 1px solid @box-border-color;

        input {
            border: 0px;

            font-size: 13px;
        }
    }

    .resultados {
        .item {
            border-bottom: 1px solid @box-border-color;
            color: @color-gray-d;
            text-decoration: none;

            .icn {
                border: 1px solid @color-gray-b;
                border-radius: 3px;
            }

            &:hover {
                color: @color-texto;

                .icn {
                    color: @color-texto;
                    border: 1px solid @color-texto;
                }
            }


            &:last-child {
                border-bottom: 0px;
            }
        }
    }
}

.panel{
    border-radius: 5px;
    padding: 15px;
    background-color: @color-gray-a;
}
.panel-success{
    background-color: @verde-e;
}