<style>
.body-mail-reset {
    font-size: 15px;
}

p {
    margin-bottom: 10px;
    line-height: 1.6;
}
</style>
<h1>Activar tu cuenta</h1>
<p>Para activar tu cuenta en nuestro sistema por favor darle click en el siguiente botón:
<p style="margin:20px 0px;">
    <a href="#link#" style="text-decoration:none; background-color: #4A90E2; color:#ffffff; padding: 10px 20px;  border-radius: 4px;">Activar Cuenta</a>
</p>
<!-- <p>¿Estás recibiendo muchos correos electrónicos para restablecer tu contraseña?</p> -->
<!-- <p>Puedes cambiar tu configuración de cuenta para que se te solicite información personal para restablecer tu contraseña. ¿Cómo puedo saber que un correo electrónico es de Twitter?</p> -->
<p>Al hacer click en este link podras crear tu contraseña, por tu seguridad elige una contraseña mayor a 8 caracteres, mayusculas, minusculas, números y algun caracter.</p>